<table border="0" style="width:100%">
	<tbody>
		<tr>
			<td colspan="2" style="text-align:center"><strong>ДОПОЛНИТЕЛЬНОЕ СОГЛАШЕНИЕ</strong></td>
		</tr>
		<tr>
			<td colspan="2" style="text-align:center"><strong>к агентскому договору от {originalContract.start} № {originalContract.number}</strong></td>
		</tr>
		<tr>
			<td style="text-align:left">город Москва</td>
			<td style="text-align:right">{contract.start}</td>
		</tr>
	</tbody>
</table>

<p><br />
{recipient.old.headerText}, с одной стороны, и <strong>ИП Ивашкова Елена Владимировна</strong>, ОГРНИП 312774628600200, ИНН 771701751258, действующий&nbsp;на основании свидетельства о регистрации серия 77 № 015664864 от 12 октября 2012 года именуемая в дальнейшем &laquo;Агент&raquo;, с другой стороны, совместно именуемые Стороны, заключили настоящее Дополнительное соглашение к действующему между&nbsp;Сторонами&nbsp;агентскому договору (от {originalContract.start} года № {originalContract.number}, далее - Договор):</p>

<p>В связи с изменением данных Принципала, по тексту Договора следующие данные считать верными:&nbsp;</p>

<p>{recipient.footerText}<br />
2. Настоящее Дополнительное соглашение вступает в силу с ____________ года.<br />
3. Настоящее Дополнительное соглашение составлено в двух экземплярах, имеющих одинаковую юридическую силу - по одному для каждой из Сторон, и является неотъемлемой частью договора аренды нежилого помещения.<br />
<br />
<br />
Адреса и реквизиты сторон:</p>

<table border="0" style="width:100%">
	<tbody>
		<tr>
			<td style="text-align:left; vertical-align:top">Принципал:<br />
			{recipient.old.footerText}</td>
			<td style="text-align:left; vertical-align:top">Агент:<br />
			<strong>ИП Ивашкова Елена Владимировна</strong><br />
			129594, г. Москва, ул. Марьиной Рощи 4-ая, д. 17, кв. 132<br />
			ИНН 771701751258,<br />
			ОГРН № 312774628600200<br />
			р/с 40802810638000045279<br />
			в ПАО &laquo;Сбербанк&raquo; г. Москва<br />
			к/с 30101810400000000225<br />
			БИК 044525225</td>
		</tr>
	</tbody>
</table>
