	<table border="0" width="100%">
		<tr >
			<td colspan="2" style="text-align:center"><strong> АГЕНТСКИЙ ДОГОВОР № {contract.number}</strong></td>
		</tr>
		
		<tr>
			<td style="text-align:left">город Москва</td>
			<td style="text-align:right">{contract.start}</td>
		</tr>
			
	</table>
	<br/>
{recipient.headerText}, с одной стороны, и <strong>ИП Ивашкова Елена Владимировна</strong>, действующая на основании свидетельства о регистрации серия 77  № 015664864 от 12 октября 2012 года именуемая в дальнейшем «Агент», с другой стороны, совместно именуемые «Стороны», заключили настоящий договор о нижеследующем: <br/>
1. Предмет договора<br/>
1.1. По настоящему договору Принципал поручает, а Агент обязуется совершать от своего имени и за свой счет комплекс юридических действий по привлечению клиентов и заключению договоров аренды на нежилые помещения в соответствии с Приложением № 1 к договору, являющимся неотъемлемой частью данного договора. <br/>
1.1.1. Основными положениями договора аренды, подлежащими согласованию между Принципалом и Агентом, устанавливаются по соглашению сторон цена договора и сроки его действия<br/>
а) Заключаемый договор аренды является краткосрочным. Срок действия договора составляет 6 (Шесть) или 11 (Одиннадцать) месяцев;<br/>
б) Сумма, подлежащая оплате Клиентом по договору аренды за предоставленное помещение, устанавливается Принципалом самостоятельно в пределах от {options.address.price.11min} до {options.address.price.11max} руб. за 11 (Одиннадцать) месяцев. За 6 (Шесть) месяцев арендная плата устанавливается в пределах от {options.address.price.6min} до {options.address.price.6min} рублей.<br/>
1.1.2. Прочие условия договора аренды, заключаемого между Клиентом и Принципалом, не подлежат согласованию с Агентом и устанавливаются Принципалом самостоятельно.<br/>
1.1.3. Комплектность подготавливаемых документов определяется Принципалом самостоятельно, но должен соответствовать требованиям регистрирующего органа (на момент заключения договора - МИФНС № 46 по городу Москва).<br/>
1.2 Принципал является собственником помещений, указанных в Приложение № 1 к данному договору, что подтверждается предоставленными подтверждающими документами  (свидетельство на право собственности (о регистрации права) и выпиской из Единого государственного  реестра прав на недвижимое имущество и сделок с ним).  <br/>
1.3. В случае отсутствия актуальной выписки из ЕГРН (менее 1 месяца от даты выдачи выписки до момента заключения настоящего договора) Агент самостоятельно получает указанную выписку на помещения, указанные в Приложении № 1 к настоящему договору. Оплата за данную услугу производится по отдельному договору.
<br/>
<br/>
2. Права и обязанности сторон<br/>
2.1. По настоящему договору Агент обязуется:<br/>
2.1.1. Во исполнение поручения, определенного п.1.1 настоящего договора, совершать следующие действия:<br/>
а) в соответствии с поручением Принципала осуществлять поиск потенциальных клиентов и проведение переговоров;<br/>
б) разместить информацию о помещениях Принципала в интернете, СМИ, наружной рекламе и других общедоступных местах для неограниченного круга потенциальных Клиентов любыми средствами, которые Агент считает необходимыми и достаточными для заключения договоров аренды на помещения Принципала. <br/>
В случае значительных («значительность» определяется соглашением сторон) издержек со стороны Агента по размещению рекламных материалов в отдельных источниках, доплата производится Принципалом по отдельному Соглашению к настоящему договору. Оплата производится только в случае согласия на это со стороны Принципала.  <br/>
в) предоставить Принципалу не позднее 1 (Одного) дня все необходимые реквизиты Клиента (Заявка на договор – Приложение № 2 к настоящему договору) для составления Принципалом договора аренды и почтового обслуживания;<br/>
г) произвести фотосъемку помещений для размещения в рекламных материалах;<br/>
д) представлять интересы Принципала в отношениях с Клиентами по договорам аренды и почтового обслуживания;<br/>
е) прикладывать усилия для разрешения возможных спорных и конфликтных ситуаций с Клиентами, государственными органами и третьими лицами.<br/>
ж) принять от Клиента сумму за договор аренды и почтовое обслуживание<br/>
з) перечислить Принципалу полученные от Клиента в качестве авансового платежа денежные средства (за вычетом своего агентского вознаграждения) не позднее 2 рабочих дней с момента зачисления их на счет Агента.<br/>
и) передать Клиенту полученный от Принципала комплект документов по договору аренды  <br/>
2.1.2. Представлять Принципалу по окончании месяца (не позднее 10 числа месяца, следующего за окончанием отчетного периода) отчет об исполнении (форма Отчета – приложение № 2 к настоящему договору) в порядке, предусмотренном настоящим договором.<br/>
2.1.3. Сообщать Принципалу по его требованию все сведения о ходе исполнения поручения в срок не позднее 10 (десяти) рабочих дней после получения письменного запроса, если такой запрос возник до предоставления Отчета, указанного в п.2.1.2. настоящего договора.<br/>
2.1.4. Передавать Принципалу все причитающееся ему по сделке, совершенной во исполнение настоящего договора с учетом всех положений настоящего договора.<br/>
2.1.5. По истечении срока действия договора принять необходимые действия в интересах Принципала (при наличии у последнего желания и возможности) по возможной пролонгации (либо заключению на новый срок) договора. <br/>
2.1.5. Выполнять иные обязанности, предусмотренные действующим законодательством РФ.
<br/>
<br/>
2.2. Агент вправе:<br/>
2.2.1. По своему усмотрению выбрать средства рекламного характера для размещения информации о помещениях Принципала. Размещение данной информации не требует дополнительного согласия Принципала в пределах тех данных, которые он уже предоставил о своих помещениях.<br/>
2.2.2. Агент вправе отказаться от указаний Принципала по размещению рекламных материалов в строго определенных источниках.<br/>
2.2.3. Временно уменьшить (на 50%) сумму, которую должен перечислить Агент Принципалу по поступившему от Клиента заказу на заключение договора аренды. После получения согласованного и подписанного Отчета удержанная сумма не позднее следующего рабочего дня перечисляется Принципалу.<br/>
2.2.4. Привлекать к выполнению целей настоящего договора на постоянной или временной основе за свой счет любых необходимых специалистов или юридические лица.<br/>
 <br/>
2.3. Права и обязанности Принципала:<br/>
2.3.1. Предоставить Агенту все необходимые документы, которые подтверждают наличие нежилого помещения у Принципала, на которое Принципал изъявляет желание заключить договор аренды.<br/>
2.3.2. Принципал обязуется не позднее 1 (Одного) рабочего дня после поступления к нему (в электронном виде или другими возможными вариантами) Заявки на договор (Приложение № 2) предоставить Агенту (для передачи Клиенту) готовый комплект договора аренды. <br/>
2.3.2. Предоставить Агенту документы или материалы, которые могут дать дополнительную информацию (потенциально интересную для Клиента), способствующую заключению договоров. <br/>
2.3.3. Принимать представляемые Агентом Отчеты в порядке и сроки, предусмотренные настоящим договором. Утверждение Отчета производится не позднее 5 рабочих дней после его предоставления Принципалу.  <br/>
2.3.4. Выдавать доверенности и иные подтверждающие документы (справки, копии документов Принципала, письма) Агенту, если в них возникла необходимость, а Агент по независящим от него причинам не может в ближайшие сроки самостоятельно получить необходимые документы, в целях успешного исполнения последним обязанностей по настоящему договору. <br/>
2.3.5. Немедленно (не позднее следующего дня) дня сообщить Агенту об изменении собственника помещения, на которое был заключен договор аренды (продажа помещения), либо об изменении других существенных условий договора, по которым у Клиента могут возникнуть вопросы. 
<br/>
<br/>
3. Отчет агента<br/>
3.1. Агент представляет Отчет об исполнении поручения Принципала и Акт об оказании услуг до 10 го числа месяца, следующего за отчетным, в том числе по электронной почте.<br/>
3.2. Принципал обязан проверить и подписать (при отсутствии возражений) отчет Агента в течение 5 (пяти) дней со дня его получения.<br/>
3.3. В случае, если Отчет не согласовался в течение всего месяца, следующего за отчетным, удержанная денежная сумма (п.2.2.3. договора) включается в отчет текущего месяца в качестве агентского вознаграждения, а сумма вознаграждения высчитывается в дальнейшем в размере 15 (Пятнадцати) % от поступившей от клиента суммы. <br/>
3.4. При агентском вознаграждении, равном 15 (Пятнадцати) процентам от поступившей от Клиента суммы, Отчет считается «по умолчанию» принятым полностью и подписанным Принципалом, а услуги Агента оказанными добросовестно, полностью, в должном объеме и качестве, в случае, если в течение 5 дней со дня получения Принципалом отчета Агента последним не получен мотивированный письменный отказ в принятии отчета с указанием конкретных обстоятельств.
<br/>
<br/>
4. Порядок расчетов<br/>
4.1. Вознаграждение Агента составляет 10 (Десять) процентов от суммы, полученной за оформление комплекта документов по договору аренды в соответствии с  п.1.1.1 настоящего договора и Приложением № 1 к настоящему договору.<br/>
4.1.1. Вознаграждение Агента может быть увеличено до 15 (Пятнадцати) процентов в соответствии с п.3.3 настоящего договора.<br/>
 4.2. Вознаграждение удерживается Агентом из выплат, производимых Клиентом на счет (карту) Агента. <br/>
4.3. В стоимость вознаграждения включаются все расходы Агента, связанные с исполнением настоящего договора.<br/>
4.4. Моментом исполнения обязательства со стороны Агента является передача подготовленного Принципалом комплекта документов по договору аренды Клиенту. 
<br/>

<br/>
<br/>
5. Ответственность сторон<br/>
5.1. В течение срока действия договора аренды ответственность по его условиям несет на себе Принципал.<br/>
5.2. Агент оказывает всяческое возможное содействие Принципалу в выполнении перед Клиентом его обязательств по договору аренды.<br/>
5.3. В случаях нарушения сроков, указанных   неисполнения или ненадлежащего исполнения одной из сторон обязательств по настоящему договору, виновная сторона возмещает другой стороне причиненные таким неисполнением/ненадлежащим исполнением убытки.<br/>
5.4. При неисполнении Агентом обязательств по своевременному перечислению Принципалу суммы за оформление комплекта документов по договору аренды (п. 2.1.1«з» настоящего договора), подлежит уплате пеня в размере 1 % за каждый день просрочки от суммы вознаграждения Агента.<br/>
6. Разрешение споров<br/>
6.1. Все споры и разногласия, которые могут возникнуть между сторонами по вопросам, не нашедшим своего разрешения в тексте данного договора, подлежат урегулированию путем переговоров в течение 30 дней.<br/>
6.2. При не урегулировании в процессе переговоров спорных вопросов споры разрешаются в порядке, установленном действующим законодательством РФ.
<br/>
<br/>
7. Срок действия настоящего договора<br/>
7.1. Настоящий договор вступает в силу с момента его подписания сторонами и действует в течении 3 (Трёх) лет, то есть до {contract.finish} г.<br/>
7.2. Настоящий договор может быть расторгнут по соглашению сторон досрочно. <br/>
7.3. В случае отсутствия намерения прекратить действие настоящего договора стороны составляют соглашение о продлении срока его действия на следующий период.<br/>
7.3. При окончании срока действия настоящего договора или при досрочном его расторжении обязанности сторон считаются исполненными после осуществления полного взаиморасчета.<br/>
7.4. Прекращение действия настоящего договора не освобождает стороны от обязанности возмещения убытков и уплаты штрафных санкций и иной ответственности, установленной настоящим Договором и законодательством РФ.<br/>
7.5. Настоящий договор может быть изменен по письменному соглашению сторон, а также в иных случаях, предусмотренных действующим законодательством РФ.<br/>
7.6. Прекращение действия настоящего договора не освобождает Принципала от исполнения обязательств по заключенным с участием Агента договорам с третьими лицами в пользу Принципала.<br/>
8. Заключительные положения<br/>
8.1. Во всем остальном, что не предусмотрено настоящим договором, стороны руководствуются действующим законодательством Российской Федерации.<br/>
8.2. Любые изменения и дополнения к настоящему договору действительны при условии, если они совершены в письменной форме и подписаны надлежаще уполномоченными представителями сторон.<br/>
8.3. Все уведомления и сообщения в рамках настоящего договора должны направляться сторонами друг другу в письменной форме. Сообщения будут считаться исполненными надлежащим образом, если они посланы заказным письмом, по факсу или доставлены лично по юридическим (почтовым) адресам сторон с получением под расписку соответствующими должностными лицами. <br/>
8.4. Настоящий договор составлен в двух экземплярах, имеющих одинаковую юридическую силу, по одному экземпляру для каждой из сторон.
<br/>
<br/>
9. Реквизиты сторон:
<table border="0" width="100%">		
		<tr>
			<td style="text-align:left" valign="top">
Принципал:<br/>
{recipient.footerText}
			</td>
			<td style="text-align:left" valign="top">
Агент:<br/>
<strong>ИП Ивашкова Елена Владимировна</strong><br/>
129594, г. Москва, ул. Марьиной Рощи 4-ая, д. 17, кв. 132<br/>
ИНН 771701751258, <br/>
ОГРН № 312774628600200<br/>
р/с 40802810638000045279 <br/>
в ПАО «Сбербанк» г. Москва<br/>
к/с 30101810400000000225<br/>
БИК 044525225<br/>
			</td>
		</tr>
	</table>
           	