<div style="position:absolute; width: 90%; border: 1px solid black; ">
<div style="position: absolute; margin-left: 230px; height: 330; width:50; border-left: 1px solid black;"></div>

<table border="0" cellpadding="0" cellspacing="0" width="893" style="margin-top: -420; position:absolute; top: 0; width:670pt">
<!--
 <colgroup><col width="64" style="width:48pt">
 <col width="231" style="mso-width-source:userset;mso-width-alt:8448;width:173pt">
 <col width="134" style="mso-width-source:userset;mso-width-alt:4900;width:101pt">
 <col width="65" style="mso-width-source:userset;mso-width-alt:2377;width:49pt">
 <col width="97" style="mso-width-source:userset;mso-width-alt:3547;width:73pt">
 <col width="67" style="mso-width-source:userset;mso-width-alt:2450;width:50pt">
 <col width="111" style="mso-width-source:userset;mso-width-alt:4059;width:83pt">
 <col width="124" style="mso-width-source:userset;mso-width-alt:4534;width:93pt">
 </colgroup>
 -->
 <tbody>
 
 <tr height="18" style="height:14pt">
  <td height="18" width="64" style="height:14pt;width:48pt"></td>
  <td width="231" style="width:173pt"></td>
  <td width="134" style="width:101pt"></td>
  <td width="65" style="width:49pt"></td>
  <td width="97" style="width:73pt"></td>
  <td width="67" style="width:50pt"></td>
  <td width="111" style="width:83pt"></td>
  <td width="124" style="width:93pt"></td>
 </tr>
 <tr style="border-top: 1px solid black;">
  <td></td>
  <td style="font-weight: bold; font-size:11pt;text-align:center;">Извещение</td>
  <td style="font-weight: bold; font-size:11pt; text-align: right; padding-right: 10" colspan="6">Форма № ПД-4</td>
 </tr>
 <tr>
  <td></td>
  <td>&nbsp;</td>
  <td colspan="6" style="text-align:center;"><div style="font-style: italic; text-decoration:underline;">{owner.title}</div></td>
 </tr>
 <tr>
  <td></td>
  <td></td>
  <td colspan="6" style="font-size:8pt; text-align:center;" >
  (наименование получателя платежа)
  </td>
 </tr>
 <tr>
  <td></td>
  <td>&nbsp;</td>
  <td colspan="2" style="text-align:center;"><div style="font-style: italic; text-decoration:underline;">{owner.inn}</div></td>
  <td></td>
  <td colspan="3" style="text-align:center;"><div style="font-style: italic; text-decoration:underline;">{owner.account}</div></td>
 </tr>
 <tr>
  <td></td>
  <td>&nbsp;</td>
  <td colspan="2" style="font-size:8pt; text-align:center;">(ИНН получателя платежа)</td>
  <td></td>
  <td colspan="3" style="font-size:8pt; text-align:center;">(номер счета получателя платежа)</td>
 </tr>
 <tr>
  <td></td>
  <td></td>
  <td colspan="4" style="text-align:center"><div style="font-style: italic; text-decoration:underline;">{owner.bank_name}</div></td>
  <td style="text-align:right; padding-right: 10px">БИК</td>
  <td><div style="font-style: italic; text-decoration:underline;">{owner.bank_bik}</div></td>
 </tr>
 <tr>
  <td ></td>
  <td>&nbsp;</td>
  <td colspan="4" style="font-size:8pt; text-align:center;">(наименование банка получателя платежа)</td>
  <td></td>
  <td>&nbsp;</td>
 </tr>
 <tr>
  <td></td>
  <td>&nbsp;</td>
  <td colspan="3">Номер кор./сч. банка получателя платежа</td>
  <td colspan="3" style="padding-left: 10px;font-style: italic; text-decoration:underline;">{owner.bank_cor}</td>
 </tr>
 <tr>
  <td></td>
  <td>&nbsp;</td>
  <td colspan="6" style="text-align: center; font-style: italic; text-decoration:underline;">{subject}</td>
  
 </tr>
 <tr>
  <td></td>
  <td>&nbsp;</td>
  <td colspan="6" style="font-size:8pt; text-align:center;">(наименование платежа)</td>
  
 </tr>
 <tr>
  <td></td>
  <td>&nbsp;</td>
  <td colspan="2">Ф.И.О. плательщика:</td>
  <td colspan="4" style="padding-left: 10px;text-align: left; font-style: italic; text-decoration:underline;">{recipient.title}</td>
 </tr>
 <tr>
  <td></td>
  <td>&nbsp;</td>
  <td colspan="2">Адрес плательщика:</td>
  <td colspan="4" style="padding-left: 10px;text-align: left; font-style: italic; text-decoration:underline;">{order.address}</td>
 </tr>
 <tr>
  <td></td>
  <td>&nbsp;</td>
  <td>Сумма платежа:</td>
  <td colspan="2" style="padding-left: 10px;text-align: left; font-style: italic; text-decoration:underline;">{summa}</td>
  <td colspan="2">Сумма платы за услуги:</td>
  <td style="padding-left: 10px;text-align: left; font-style: italic; text-decoration:underline;">0 руб.00 коп.</td>
 </tr>
 <tr>
  <td></td>
  <td>&nbsp;</td>
  <td>Итого:</td>
  <td colspan="2" style="padding-left: 10px;text-align: left; font-style: italic; text-decoration:underline;">{summa}</td>
  <td colspan="3" style="padding-left: 10px;text-align: left; font-style: italic; text-decoration:underline;">{date}</td>
 </tr>
 <tr>
  <td></td>
  <td>&nbsp;</td>
  <td colspan="6" style="font-size:8pt;">С условиями приема указанной в платежном документе суммы, в т.ч. с суммой взимаемой платы за услуги банка</td>
 </tr>
 <tr>
  <td></td>
  <td style="font-weight: bold; font-size:11pt;text-align:center;">Кассир</td>
  <td colspan="2" style="font-size:8pt;">ознакомлен и согласен.</td>
  
  <td colspan="3" style="font-size:9pt; font-weight: bold;">Подпись плательщика</td>
  <td>&nbsp;</td>
  <td >&nbsp;</td>
 </tr>
 
 <tr>
  <td></td>
  <td >&nbsp;</td>
  <td colspan="6">&nbsp;</td>
 </tr>
 <!--
 <tr>
  <td></td>
  <td >&nbsp;</td>
  <td colspan="6">&nbsp;</td>
 </tr>
 -->
 <tr>
  <td></td>
  <td>&nbsp;</td>
  <td colspan="6" style="text-align:center;"><div style="font-style: italic; text-decoration:underline;">{owner.title}</div></td>
 </tr>
 <tr>
  <td></td>
  <td></td>
  <td colspan="6" style="font-size:8pt; text-align:center;" >
  (наименование получателя платежа)
  </td>
 </tr>
 <tr>
  <td></td>
  <td>&nbsp;</td>
  <td colspan="2" style="text-align:center;"><div style="font-style: italic; text-decoration:underline;">{owner.inn}</div></td>
  <td></td>
  <td colspan="3" style="text-align:center;"><div style="font-style: italic; text-decoration:underline;">{owner.account}</div></td>
 </tr>
 <tr>
  <td></td>
  <td>&nbsp;</td>
  <td colspan="2" style="font-size:8pt; text-align:center;">(ИНН получателя платежа)</td>
  <td></td>
  <td colspan="3" style="font-size:8pt; text-align:center;">(номер счета получателя платежа)</td>
 </tr>
 <tr>
  <td></td>
  <td></td>
  <td colspan="4" style="text-align:center"><div style="font-style: italic; text-decoration:underline;">{owner.bank_name}</div></td>
  <td style="text-align:right; padding-right: 10px">БИК</td>
  <td><div style="font-style: italic; text-decoration:underline;">{owner.bank_bik}</div></td>
 </tr>
 <tr>
  <td ></td>
  <td>&nbsp;</td>
  <td colspan="4" style="font-size:8pt; text-align:center;">(наименование банка получателя платежа)</td>
  <td></td>
  <td>&nbsp;</td>
 </tr>
 <tr>
  <td></td>
  <td>&nbsp;</td>
  <td colspan="3">Номер кор./сч. банка получателя платежа</td>
  <td colspan="3" style="padding-left: 10px;font-style: italic; text-decoration:underline;">{owner.bank_cor}</td>
 </tr>
 <tr>
  <td></td>
  <td>&nbsp;</td>
  <td colspan="6" style="text-align: center; font-style: italic; text-decoration:underline;">{subject}</td>
  
 </tr>
 <tr>
  <td></td>
  <td>&nbsp;</td>
  <td colspan="6" style="font-size:8pt; text-align:center;">(наименование платежа)</td>
  
 </tr>
 <tr>
  <td></td>
  <td>&nbsp;</td>
  <td colspan="2">Ф.И.О. плательщика:</td>
  <td colspan="4" style="padding-left: 10px;text-align: left; font-style: italic; text-decoration:underline;">{recipient.title}</td>
 </tr>
 <tr>
  <td></td>
  <td>&nbsp;</td>
  <td colspan="2">Адрес плательщика:</td>
  <td colspan="4" style="padding-left: 10px;text-align: left; font-style: italic; text-decoration:underline;">{order.address}</td>
 </tr>
 <tr>
  <td></td>
  <td>&nbsp;</td>
  <td>Сумма платежа:</td>
  <td colspan="2" style="padding-left: 10px;text-align: left; font-style: italic; text-decoration:underline;">{summa}</td>
  <td colspan="2">Сумма платы за услуги:</td>
  <td style="padding-left: 10px;text-align: left; font-style: italic; text-decoration:underline;">0 руб.00 коп.</td>
 </tr>
 <tr>
  <td></td>
  <td>&nbsp;</td>
  <td>Итого:</td>
  <td colspan="2" style="padding-left: 10px;text-align: left; font-style: italic; text-decoration:underline;">{summa}</td>
  <td colspan="3" style="padding-left: 10px;text-align: left; font-style: italic; text-decoration:underline;">{date}</td>
 </tr>
 <tr>
  <td></td>
  <td>&nbsp;</td>
  <td colspan="6" style="font-size:8pt;">С условиями приема указанной в платежном документе суммы, в т.ч. с суммой взимаемой платы за услуги банка</td>
 </tr>
 <tr>
  <td></td>
  <td style="font-weight: bold; font-size:11pt;text-align:center;">Кассир</td>
  
  <td colspan="2" style="font-size:8pt;">ознакомлен и согласен.</td>
  
  <td colspan="3" style="font-size:9pt; font-weight: bold;">Подпись плательщика</td>
  <td>&nbsp;</td>
  <td >&nbsp;</td>
 </tr>
 
 <tr>
  <td></td>
  <td></td>
  <td colspan="6">&nbsp;</td>
 </tr> 
 
</tbody></table>
<div style="position: absolute; margin-top: -220px; height: 220px; width:100%; border-top: 1px solid black;"></div>
<div style="position: absolute; margin-left: 230px; margin-top: -300px; height: 300px; width:50; border-left: 1px solid black;"></div>

</div>