.clear {
	clear: both !important;
	height: 0 !important;
	font-size: 0 !important;
	margin: 0 !important;
	padding: 0 !important;
	display: block !important;
	float: none !important;
	border: none !important;
}


.image-list {
	padding: 5px;	
	border: 1px solid #ccc;
    border-radius: 4px;	
	margin-bottom: 20px;
}

.image-list ul {
	width: 100%;
	list-style: none;
	margin: 0;
	padding: 0;
}

.image-list ul li{
	float: left;
	margin: 5px;
	position: relative;
}
.image-list ul li td{
	background:#EEEEEE; 
	border: 1px solid #DDDDDD; 
	padding: 5px; 
	text-align: center;
}


.image-list ul li img{
	height: 100px;
	border-radius: 4px;
	clear: both;	
}

.image-list ul li a.delete{
	text-decoration: none;
	color: red;
	border: 1px solid red;
	background: #ffffff;
	display: block;
	padding: 0px 6px;	
	border-radius: 10px;
	position: absolute;
	left: -5px; top: -5px;
	
}

.image-list ul li.deleted a.delete{
	color: #00AA00;
	border: 1px solid #00AA00;
}

.image-list ul li.deleted img{
	opacity:0.5;
}
.image-list ul li.deleted input{
	opacity:0.5;
	background: #DDDDDD;
}



#loading-screen {
	background: #555555;
	opacity: 0.5;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10000;	
	border-radius: 4px;	
	display: none;
}

#loading-screen img{
	position: absolute;
	margin: -50px 0 0 50%;
	top: 50%; left: -50px;	
	width: 100px;
	height: 100px;	
}
