

.nav > li > a {
	margin: 5px;
	padding: 5px 25px ;
	font-size: 14pt;
	color: #999999;
}

table td {
	text-align:right;
}

table td.hidden,
table th.hidden{
	display: none; 
}


/*
table td.col-status_id{
	text-align:center;
	padding: 1px 5px;
	border: 1px solid #222;
	color: #222;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background:  #EEEEEE;   
}
*/

table td.form-text{
	text-align:left;

}

table td.form-decimal{
	font-weight: bold;
}



.default-template-list{
	padding-bottom: 10px;
	padding-top: 10px;
	font-size: 16px;
}