#admin h1 {
	text-align:center;
	font-size: 26pt;
}

.jumbotron {
	margin: 0 auto;
	width: 1160px;
	padding: 0 20px;
	
}

tr.line-notice td{
	color: blue;
}

tr.line-error {
	color: red;
}

.form-group textarea.field-seo {
	width: 83%;
	height: 200px;
}

table.row-clickable tr{
	cursor: pointer;
}

ul.requisites {
	font-size: 13pt;
	
}

ul.requisites li {
	margin-bottom: 20px;
	opacity: 0.6;
}

ul.requisites li.base{
	color: black;
	opacity: 1;
}

/* Иконки в справочнике опций */
td.col-icon img {
	width: 20px;
}

#option-icon div.radio label {
	width: 80px;
	padding: 5px;
	border: 1px solid #FAA;
	border-radius: 3px;
}
/* /Иконки в справочнике опций */


#admin .form-group input, 
#admin .input-group, 
#admin .form-group select, 
#admin .form-group textarea {
	width: 100%;
}

.cke_contents { 
	height: 800px !important; 
}

#admin .form-group textarea {
	height: 400px;
}

#admin .reg-button {
	font-size: 14pt;
}