@font-face {
    font-family: solomon-semibold;
    src: url(../font/roboto/Roboto-Medium.ttf); /*src: url(../font/SolomonSansSemiBold.otf);*/
}
@font-face {
    font-family: solomon-normal;
    src: url(../font/roboto/Roboto-Regular.ttf); /*src: url(../font/Solomon_Sans_Normal.otf);*/
}
@font-face {
    font-family: solomon-bold;
    src: url(../font/roboto/Roboto-Bold.ttf); /*src: url(../font/SolomonSansBold.otf);*/
}
@font-face {
    font-family: solomon-book;
    src: url(../font/roboto/Roboto-Light.ttf);   /*src: url(../font/SolomonSansBook.otf);*/
}
@font-face {
    font-family: solomon-normal-italic;
    src: url(../font/SolomonSansNormalItalic.otf);
}

h1{
    margin-top: 15px;
    margin-bottom: 25px;
}

html,
body {
    color: #33424D;
    height: 100%;
    font-family: solomon-normal;
}

.nav > li > a{
    padding: 10px 12px;
}


/* контролы форм */


a.delete{
	color: #F77;
}

a.delete:hover {
	color: red;
}



.fieldset {
	clear:both;
}



.form-group div.checkbox,
.form-group div.checkbox label{
	width: 100%;
	clear: both;	
}




.form-group label {
	width: 30%;	
	float: left;
	margin-top: 10px;	
}



.form-group input,
.input-group,
.form-group select,
.form-group textarea
 {
    width: 65%;
    margin-left: 2%;	
	float: right;
	border-radius: 5px;
	box-shadow: inset 0px 1px 3px 0px rgba(168,168,168,1);
}

.form-group{
	margin-top: 10px;
	height: auto;	
}
.form-group .date{

    /*left: 23px*/;
	padding: 0;
	
}

.form-group .hint-block{
	width: 65%;
	font-size: 8pt;
	color: #AAA;
	text-align: center;
	float: right;
}
.input-group input{
    margin-left: 0;
}



form.form-vertical button.reg-button,form.form-vertical a.reg-button {
	float: left;
    margin-left: 0;
	margin-top: 20px
}

/* /контролы форм */


.cabinet-form form fieldset{

}



.promo-block{
    background-color: #F93237;
    color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 1.3em;
    text-align: center;
    letter-spacing: 2px;
}
.by-time{
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 20px;
}
.statistics .dates-from-to{
    align-items: center;
}
.statistics .field-row .form-input{
    width: 100px;
    flex-basis: auto;
}
.statistics .dates-from-to .field-row .form-label label{
    justify-content: flex-end;
}
.statistics .dates-from-to .field-row .form-label{
    flex-basis: auto;
    width: auto;

}
.statistics .dates-from-to .field-row .form-label.period{
    width: 100px;
    margin-left: 100px;
}
.statistics .field-row.flex{
    flex-wrap:nowrap;
}
.promo-block a{
    color: #fff;
    border-bottom: 1px dashed #fff;
}
.header-label{
    color: #33424D;
    font-size: .9em;
    font-family: solomon-semibold;
    /*padding-left: 10px;*/
    margin-top: 7px;
}
.menu-block{

   
    padding-bottom: 60px;
    position: relative;
}

.main-menu{
    letter-spacing: 1px;
    background-color: transparent;
    border: none;
    margin-bottom: 3px;
    min-height: 0;
}
.mobile-navigation-menu{
    display: none;
}
.main-menu a{
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    color: #F93237;
}
.fix-padding .public-address{
    margin-right: 64px;
}
.main-menu .open .custom-dropdown{
    background-color: #ffffff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.main-menu .open .dropdown-menu a:hover{
    color: #33424D;
    background-color: transparent;
}
.phone-email .phone, .phone-email .email{
    display: inline-block;
}
.username-part-menu{
    padding-top: 20px;
}
.username-field{
    color: #F93237;
    text-align: right;
   /* margin-right: -12px;*/
}
.address-one .address-one-top{
    margin-left: 20px;
}
.logout-icon{
    width: auto;

}
#order-serviceidlist .checkbox, #order-serviceidlist .radio{
    margin-left: 0;
}
.logout-icon-div{
    /*margin-top: 10px;*/
}
.logout-icon-div img{
    height: 20px;
}
.upper-menu-part{
    padding-top: 10px;
}
.phone-email{
    margin-top: 5px;
    padding-left: 15px;
}
.pick-address{
    padding-left: 8px;
}
.main-menu li:first-child a{
    /*padding-left: 0;*/
}
.main-menu .dropdown-menu{
    border: none;
    box-shadow: none;
}
.email{
    font-family: solomon-bold;
    /*margin-left: 20px;*/
    color: #F93237;
    font-size: .9em;
}
.pick-address{
    font-size: 1.7em;
}
.bottom-part{
    margin-top: 25px;
}
.header-padding-left{
    /*padding-left: 25px;*/
}
a{
    text-decoration: none !important;
}
.public-address-button, .order-address-button{
    height: 50px;
}
.dd-button.nav > li > a:hover, .dropdown-button.nav > li > a:focus{
    color: #fff;
    background-color: transparent;
}

.dd-button.nav > li > a{
    color: #fff;
}



.public-address-button,
.find,
.public-review-button,
.public-answer-question,
.new-button,
.order-address-button,
.book-it,
.reg-button,
.login-button,
.change-button,
.order-button,
.order-button-back,
.dd-button,
.review-form button,
.new-auction-rate a
{

    cursor: pointer;
    /*display: inline-block;*/
    padding: 8px 20px;
    background-color: #F93237;
    color: #fff;
    border-radius: 25px;
    text-align: center;
    /*min-width: 130px;*/
    min-width: 130px;
    font-size: .8em;
    text-decoration: none !important;
   /* min-height: 50px;*/
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all ease-out 0.5s;
    outline: none;
    border: none;
}

.new-button{
    display: flex;
    min-width: auto;
    font-size: 1.1em;
}
.public-address-button:hover,
.order-address-button:hover,
.find:hover,
.public-review-button:hover,
.book-it:hover,
.order-button:hover, 
.reg-button:hover, 
.add-button:hover, 
.login-button:hover, 
.change-button:hover, 
.order-button-back:hover, 
.review-form button:hover, 
.new-auction-rate a:hover{
    background-color: #33424D;
    /*text-decoration: none;*/
    color: #fff;

}
.image-to-change img{
    width: 100%;
}
.image-to-change{
    max-height: 700px;
    overflow: hidden;
}
.restore-password-email{
}
/*.reg-button:hover{
    color: #fff;
}*/
.public-answer-question:hover{
    background-color: #fff;
}
.person-div{
    margin: 0 10px;
    text-align: right;
}
.person{
    margin-top: 5px;
    width: auto;
    display: inline-block;
}
.upper-menu-part .person{
    display: flex;
}
.address-icons{
    margin: 5px 0;
    display: flex;
    flex-wrap: wrap;
}
.address-icons div{
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    margin: 5px;
}
.address-icons img{
    max-width: 100%;
    max-height: 100%;
}
.address-icons i{
    margin: 0 5px;
}
.tab{
    cursor: pointer;

    text-align: center;
    padding: 20px 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #F93237;
    color: #fff;

}
.white-bg{
     background-color: #E5E6E8;
    background-image: url("../img/white-bg.png");
    background-repeat: no-repeat;
    background-position: left center;
}
.publish-address{
    display: flex;
    padding-top: 10px;
}
.public-address{
    margin-right: 25px;
}
.order-address-button{
    font-size: .8em;
}
.extra-service{
    margin-bottom: 15px;
}
/* HEADER 2 */
 /*   .header-padding-left{
        flex-basis: 20%;
    }
    .menu-flex-area{
        flex-basis: 50%;
        flex-shrink: 10;
        justify-content: center;
    }
    .publish-address{
        margin-left: 10%;
        flex-basis: 15%;
    }
    .person{
        flex-basis: 5%;
    }

    .menu-block{
        flex-wrap: wrap;
    }
    .header-label{
        padding-left: 25px;
        flex-basis: 26%;
    }

    .pick-address{
        flex-basis: 50%;
    }
    @media screen and (max-width: 1200px) {
        .publish-address{
            margin-left: 3%;
            flex-basis: 15%;
        }
        .header-padding-left{
            flex-basis: 25%;
        }
        .header-label {
            flex-basis: 28%;
        }
    }
    @media screen and (max-width: 767px) {
        .header-padding-left{
            order: 4;
            flex-basis: 100%;
        }
        .menu-flex-area{
            order: 1;
            flex-basis: 90%;
            flex-shrink: 10;
            justify-content: center;
        }
        .publish-address{
            order: 3;
            margin-left: 100%;
            flex-basis: 15%;
        }
        .person{
            order: 2;
            flex-basis: 5%;
        }

        .flex.menu-block{
            display: flex;
            flex-direction: column;
        }
        .header-label{
            order: 5;
            padding-left: 25px;
            flex-basis: 100%;
        }

        .pick-address{
            order: 6;
            flex-basis: 100%;
        }
        .menu-flex-area .flex{
            display: flex;
        }
    }
*/
/* END HEADER 2 */

@media screen and (min-width: 992px) {
    .tab-block{
        margin-top: -60px;
    }

}
.logo{
    font-size: 1.8em;
    font-family: solomon-bold;
    letter-spacing: 1px;
}
.pro{
    color: #F93237;
}
.switch-mode{
    padding-left: 1px;
    padding-right: 1px;
}
.switch-left{
    padding-left: 0px;
    padding-right: 1px;

}
.switch-right{
    padding-left: 1px;
    padding-right: 0px;
}
.tab.active-tab{
    cursor: default;
    background-color: #fff;
    color: #33424D;
}
.no-padding-d{
    padding: 0;
}
.address-search{
}
.checkbox-block{
    /*padding: 40px 30px;*/
    padding: 40px 0;
}
.checkbox-item{
    background-color: #E6E6E6;
    height: 20px;
    width: 20px;
}
.checkbox, .radio{
    margin: 0 10px;
    display: inline-flex;
    align-items: center;
}
.check-box, .radio-box{
    padding: 10px 20px;
    padding-left: 0;
    text-align: left;
}

.checkbox-value, .checkbox-item, .radio-value{
    display: inline-block;
}
.checkbox-value {

}
.checkbox-container{
    text-align: center;
    display: inline-block;
}
.checkbox-item{
    margin-right: 5px;
    border-radius: 5px;
    cursor: pointer;
}
.search-form{
    align-items: center;
}
.find{
    border: none;
    outline: none;
    margin-top: 30px;
    padding: 15px 20px;
}
.search-form .find{
    margin-top: 0px;
}
.search-section{
    margin-top: 40px;
    background-color: #E9ECEC;
    background-size: 100% auto;
    background-image: url("../img/bg.png");
    background-repeat: no-repeat;
    background-position: center top;
}
.search-way{
    background-color: #fff;
    display: none;
}
.search-way.display{
    display: block;
}
.promo-information{
    text-align: center;

}



.promo-infoblock{
    margin-top: 50px;
}
.pi-icon{
    max-width: 30px;
    max-height: 25px;
}
.pi-number, .pi-txt{
    /*margin: 10px 0;*/
    font-size: 1.8em;
    color: #F93237;
    font-family: solomon-book;
}
.pi-txt{
    font-family: solomon-normal;
}
.pi-container{
    display: inline-block;
}
.pi-container{
    padding: 0 15px;
    min-width: 200px;
}
.second-promo-row{
    margin-top: 40px;
}
.hidden-cb{
    display: none;
}
.address-search
{
    background-image: url("../img/shadow.png");
    background-repeat: no-repeat;
    background-size: 100% 80%;
    padding-bottom: 30px;
    background-position: center 118%;

}

.slider-block{
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
}
.slider-block .bx-prev{
    left: -45px;
}
.slider-block .bx-next{
    right: -45px;
}
.bx-wrapper{
    box-shadow: none;
    border: none;
    background: none;
}
.review-author{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-radius: 10px;
}
.table-cell{
    display: table-cell;
    vertical-align: middle;
}
.author{
    margin: auto;
}
.author-role{
    font-family: solomon-bold;
    color: #DBDBDB;
    margin-top: 20px;
}
.display-table{
    display: table;
    width: 80%;
}
.author-name{
    max-width: 200px;
    font-size: 1.8em;
    font-family: solomon-normal;
}
.slide-item .flex-row{
    height: 100%;
}
.slide-item{
    height: 200px;
}
.display-table{
    display: table;
}
.review-block{
    margin-top: 40px;
    margin-bottom: 20px;
}
.slide-left-part{
    border-radius: 5px;
    margin-right: 1px;
    display: flex;
    padding-right: 1px;
    background-color: #fff;
}
.multichannel, .under-logo-text{
    font-family: solomon-bold;
    font-size: .9em;
}
.under-logo-text{
    margin-top: 12px; /* margin-top: 3px; */
}
.bx-wrapper{
    margin-bottom: 0;
}
.reviews{
    top: 50%;
    transform: translateY(-50%);
    width: 150px;
    position: absolute;
    z-index: 11;
    /*margin-left: 20px;*/
    color: #DBDBDB;
    left: 30px;
}
.slider-right-part{
    display: flex;
    align-items: center;
    border-radius: 5px;
    background-color: #fff;
    padding-left: 1px;
    margin-left: 1px;
}
.active-slide-page{
    font-family: solomon-bold;
}
.review-counter{

    position: relative;
}
.bx-wrapper .bx-next{
    background: url('../img/triangle_right.png');
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: 13px center;
    border-radius: 50%;
    background-color: #5D6871;
    transition: all ease-out 0.5s;
}
.bx-wrapper .bx-next:focus, .bx-wrapper .bx-next:hover{
    background-position: center;
}
.bx-wrapper .bx-prev{
    background: url('../img/triangle_left.png');
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: 10px center;
    border-radius: 50%;
    background-color: #5D6871;
    transition: all ease-out 0.5s;
}
.bx-wrapper .bx-next:focus, .bx-wrapper .bx-next:hover{
    background-color: #F93237;
    background-position: 13px center;
}
.bx-wrapper .bx-prev:focus, .bx-wrapper .bx-prev:hover{
    background-position: 10px center;
    background-color: #F93237;
}
.counter{
    z-index: 3;
    width: 55px;
    height: 50px;
    position: absolute;
    background-color: #E5E6E8;
    border-radius: 50%;
    top: 50%;
    margin-right: -2px;
    right: -50%;
    transform: translate(50%, -50%);
}

.counter-numbers{
    margin-top: 15px;
    text-align: center;
}
.review-content{
    width: 80%;
    display: inline-block;
}
.review-content-flex{
    width:100%;
    margin: 30px 0;
    justify-content: center;
    align-items: center;
    display: flex;
}
.flex-row{
    display: flex;
}
.public-review, .public-answer{
    text-align: center;
    margin-bottom: 40px;
}
.faq{
    display: flex;
}
.questions{
    margin: 20px 0;
}
.question-container{
    outline: none;
    position: relative;
    padding-left: 30px;
    margin: 25px 0;
}
.close-question{
    display: none;
    position: absolute;
    left: 0;

    cursor: pointer;
    top: 5px;
}

.question-answers{
    padding-left: 30px;
    display: none;
}
.question{
    cursor: pointer;
    color: #F93237;
}
.opened-question{
    cursor: default;
    color: #33424D;
    font-family: solomon-semibold;
    cursor: pointer;
}
.faq{
    background-color: #fff;
}
.db{
    display: block;
}
.faq{
    padding: 20px;
}
.flex{
    display: flex;
}
.active-question{
    display: block;
}
.block-title{
    width: 100px;
    color: #DBDBDB;
    justify-content: center;
    align-items: center;
}
.public-answer-question{
    margin-top: 40px;
    font-family: solomon-semibold;
    color: #F93237;
    background-color: #DCDDDF;

}
.block-faq{
    margin-left: 40px;
}
.public-news{
    padding: 15px 20px;
}
.news-block{

    /*background-color: #fff;*/
}
.date-number{
    text-align: left;
    font-family: solomon-book;
    font-size: 2.5em;
}
.date-month{
    font-family: solomon-semibold;
}
.news-title{
    text-transform: uppercase;
    color: #F93237;
    font-size: 1.6em;
    margin: 40px 0;
}
.first-news-block{
    width: 45%;
    padding-left: 20px;
}
.second-news-block{
    width: 25%;
    margin-right: 2px;
    margin-left: 2px;
}
.third-news-block{
    width: 30%;
}
.news{
    padding: 20px;

}
.first-news-block, .second-news-block, .third-news-block{
    background-color: #fff;
    border-radius: 5px;
}
.second-news-block{

}
.first-news-block:hover, .second-news-block:hover, .third-news-block:hover{
    z-index: 1;
    -webkit-box-shadow: 0px 12px 49px -8px rgba(77,77,77,1);
    -moz-box-shadow: 0px 12px 49px -8px rgba(77,77,77,1);
    box-shadow: 0px 12px 49px -8px rgba(77,77,77,1);
}
.bottom-text-block{
    font-family: solomon-bold;
}
#accordion{
    margin-left: 10px;
}
.footer{
    padding: 20px 0;
    background-color: #fff;
    color: #33424D;

}
.website{
    font-family: solomon-semibold;
}
.bottom-text{
    padding-bottom: 40px;
}
.narrow{
    padding-left: 55px;
    padding-right: 55px;
}
.footer-second, .footer-third{
    margin-top: 35px;
}
.footer-third a{
    color: #F93237;
}
.address{
   /* margin-bottom: 10px;*/
}
.bottom-menu a{
    font-size: .9em;
    color: #F93237;
    display: block;
}
.menu1, .menu2{
    font-family: solomon-semibold;
}
.soc{
    margin-top: 20px;
}
.soc a{
    margin-right: 10px;
}
.dis-block{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fntw, .fntw-text{
    font-family: solomon-semibold;
    display: inline-block;
}
.main-menu .address-li li a{
    padding: 5px 10px;
}
.checkbox-item.active-checkbox, .form-checkbox.active-checkbox, .form-radio.active-checkbox, .offerta-box.active-checkbox, .nds-box.active-checkbox{
    background-color: #F93237;
}
.star, .location{
    padding-top: 3px;
    font-size: 1.5em;
}
.year{
    width: 50px;
    padding-top: 3px;
}
.law-address{
    font-size: .8em;
}
.footer-l{
    line-height: 17px;
    font-size: 1.7em;
}
.other{
    align-items: center;
}
select.metro {
    margin-top: 30px;
    -webkit-box-shadow: inset 0px 0px 2px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 2px 0px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 2px 0px rgba(0,0,0,0.75);
    font-family: solomon-normal-italic;
    /*color: #DCC7C6;*/
    color: #33424D;
    padding: 15px;
    outline: none;
    /*background-color: #F93237;*/
    width: 100%;

    border-radius: 5px;
    /*-webkit-appearance: none;*/
    /*background-image: url('../img/triangle.png');*/
    background-position: right 10px center;
    background-repeat: no-repeat;
    line-height: 1em;
    /* for FF */
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    /* for IE */
    -ms-appearance: none;
    appearance: none!important;
}

select.metro::-ms-expand {
    display: none;
}
.addresses, .breadcrumb-area, .bc{
    /*background-color: #E5E6E8;*/
}
.address-price{
    font-family: solomon-book;
    color: #F93237;
    margin-bottom: 20px; 
}
.address-order{

}
.address-promo .address-order a{
    font-size: 1em;
}
.address-order a{
    width: 100%;
    display: inline-block;
    text-align: center;
    border-top-left-radius: 35px;
border-top-right-radius: 35px;
    padding: 10px 20px;
    color: #FFFFFD;
    background-color: #F93237;
}
.address-info-cnt{
    position: relative;
   /* overflow: hidden;*/
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #fff;
}
.bc{
    
    min-height: 0;
    margin-bottom: 0;

}
.breadcrumb{

    margin-bottom: 0;
    background-color: transparent;
}
.breadcrumb li{
    position: relative;
}
.separate-links{
    margin-left: 7px;
    color: #F93237; 
}

.address-card{
    margin-bottom: 10px;
}
.address-img{
    height: 165px;
    overflow: hidden;
    position: relative;
}
.address-img img{
    width: 100%;
    min-height: 100%;
}
.new-address-label{
    position: absolute;
    right: 0;
    top: -20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: #F93237;
    color: #fff;
    padding: 10px 15px;
}
.all-addresses-block{
    padding-right: 0;
}
.no-left-padding{
    padding-left: 0;
}
.add-search-block{

}
.add-searcher{
    margin-top: -35px;
    font-size: 1.5em;
}
.addresses-promo-block{
    margin: 10px 0;
}
.addresses-promo-block .promo-information{
    padding: 15px 0 20px;
    margin: 10px 0;
    background-color: #fff;
}
.addresses-promo-block .pi-message{
    font-size: 12px;
    /*padding: ;*/
}
.all-addresses-block{
    padding-top: 20px;
    padding-bottom: 20px;
}
.address-detail-head{
    font-size: 1.5em;
}
.address-text-district, .address-text-tax, .address-text-area, .address-text-index-value, .address-text-subway-value{
   /* display: inline-block;*/
}
.address-text-district{
   /* max-width: 238px;*/
}
.mobile-cab-menu{
    display: none;
}
.address-text-area sup{
    top: 0;
}
.middot{
    display: inline-block;
    color: #F93237;
   /* margin: 0 10px;*/
}
.gh{
    filter: grayscale(0%);
    
    
}
.lense-search:hover .gh{

    filter: grayscale(100%);
    
}
.lense-search{

    height: 166px;
    position: relative;
}
.lense-search img{
    transition: -webkit-filter 1s linear;
    height: 100%;
}
.lense-search:hover::before{
    cursor: pointer;
    display: block;
    content: ' ';
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-image: url('../img/lense.png');
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(0,0,0, .5);
}
#sld .bx-pager-link{
    background-color: #fff;
}
.image-to-change .bx-wrapper{
    margin: 0 auto;

}
#sld .bx-pager-link.active{
    background-color: #F93237;
}
#sld{
    margin-bottom: 35px;
}
sup{
    /*top: 0;*/
}
.address-text{
    margin-top: 30px;
    font-size: 1.3em;
}
.address-text-index, .address-text-subway{
    padding-top: 2px;
    font-size: .7em;
    color: #B7B8BA;
    margin-right: 20px;
    display: inline-block;
}
.second-row-address-info{
    margin-top: 10px;
}
.address-text-index .flex, .address-text-subway .flex{
    align-items: flex-start;

}
.address-text-subway{
    margin-left: 30px;
    margin-right: 20px;
}
.address-text-index span, .address-text-subway span{
    text-transform: uppercase;
    /*display: table-cell;
    vertical-align: top;*/
}
.pag{
    margin: 30px 0;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
}
hr.pagination-line{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    border-top: 1px solid #D5DADA;
}
.pagination-arrow{
    /*flex-basis: 5%;*/
    box-shadow: 0px 0px 16px 0px rgba(209,207,209,1);
    position: relative;
    display: block;
    background-color: #5D6871;
    width: 35px;
    height: 35px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    transition: all ease-out 0.5s;
}
/*.pagination-space-left{
    margin-left: 20px;
}*/
.pagination-arrow:hover{
    background-color: #FF4D48;
}
.pagination-arrow-left, .pagination-arrow-right{
    display: flex;
    align-items: center;
    justify-content: center;
}
.pagination-arrow-left img, .pagination-arrow-right img{
    width: 7px;
   /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-55%, -50%);*/
   /* background-image: url(../img/triangle_left.png);*/
}
.pag-move-left{
    margin-right: auto;
    margin-left: 20px;
}
.pag-move-right{
    margin-left: auto;
    margin-right: 20px;
}
.pagination-arrow-right img{
   /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-45%, -50%); */
   /* background-image: url(../img/triangle_right.png);*/
}
.pag-stripe{
    flex-basis: 50%;
    height: 1px;
    background-color: #D5DADA;
}
.pager-numbers {
    position: relative;
    display: flex;
    align-items: center;
    z-index: 1;
}
.pag-number{
    width: 20px;
    font-size: 12px;
    height: 20px;
    border-radius: 50%;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}
.pag-number span{
    line-height: 1;
    color: #5D6871;
}
.filter-pp-area .field-row .form-input{
    margin-left: 0;
}
.pag-page{
    background-color: #FF4D48;
    margin: 0 10px;
    /*margin: auto;*/
    z-index: 1;
    width: 20px;
    height: 20px;

    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pag-page span{
    color: #fff;
}
.of{
    color: #A9A9A9;
}
.active-page{
    color: #93999E;
}
.address-icons{
    color: #FF4D48;
}
.address-icons img{
    /*width: 20px;
    margin: 10px 0;
    margin-top: 0;
    margin-right: 7px;*/
}
.extra-information{
    margin-bottom: 20px;
}
.breadcrumb{
    padding-left: 10px;
}
.offset-padding{
    padding-left: 15px;
}
.by-time.active{
    font-family: solomon-normal;
    cursor: default;
    color: #FF4D48;
}
.no-padding-menu{
    padding: 0;

}
.forms-head .reg-tutorial{
    flex-basis: 55%;
    margin-left: 5%;
}
.forms-head h2{
    flex-basis: 40%;
}
.address-add-page-title{
    margin: 30px 0;
    font-size: 20px;
}
.address-add-step-color{
    color: #F93237;
    margin-right: 20px;
}
.widget-margin-top{
    margin-top: -20px;
}
.flag-icon{
    color: #F93237;
    font-size: 20px;
}
.address-add-page .more-button{
    margin-top: 40px;
}
.add-address-form-description{
    max-width: 250px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.add-address-submit .field-row{
    display: flex;

}
.back-add-address{
    flex-basis: 40%;
}
.address-add-page .radio label{
    font-weight: bold;
    padding-left: 0;
    cursor: default;
    font-family: solomon-normal;

}

#map-block{
    margin-top: 30px;
}
.address-card-table{
    text-align: center;
}
.address-card-table thead tr th{
    text-align: center;
}
.download-it{
    padding: 5px 15px;
    background-color: #F93237;
    color: #fff;
    border-radius: 20px;
}
.add-padding-right{
    padding-right: 11px;
}
.address-card-valute{
    margin-left: 5px;
    width: 25px;
}
.field-row .address-card-valute sup{
    top: -5px;
    color: #333;
}
.address-publish-card .field-row .form-label{
    flex-basis: 30%;
}
.address-publish-card .field-row .form-icon{
    flex-basis: 5%;

}
.address-publish-card .field-row .form-icon img{
}
.address-publish-card .field-row .form-input{
    flex-basis: 60%;

}
.address-publish-card .reg-button{
    margin-left: 35%;
}

.add-button {
	float: left;
}

.address-publish-card .pay-button{
    margin-left: 0;

}
.no-checkbox{
    margin-left: 30px;
}
.address-publish-card .field-row .form-input.has-icon{
    margin-left: 0;
}
.no-pl{
    padding-left: 0;
}
.address-publish-card .address-detail-head{
    flex-basis: 65%;
}
.address-publish-card .form-checkbox{
    margin-right: 10px;
}
.address-publish-card .reg-tutorial{
    flex-basis: 35%;
    padding-left: 0;
    margin-bottom: 20px;
}
.back-add-address .reg-button{
    background-color: #333;
}
.add-address-submit .reg-button{
    margin-left: 0;
}
.add-address-submit .more-add-address{
    margin-left: 5%;
}
.flag-th{
    width: 50px;
}
.service-button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}
.service-submit .reg-button{
    margin-left: 0;
}
.add-service-button{
    margin-left: 20px;

}
.add-service-button a{
   /* background-color: #333;*/
}
.red-circle{
    color: #fff;
    background-color: #F93237;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    justify-content: center;
    display: flex;
    align-items:center;
    font-size: 16px;
    cursor: pointer;
}

.new-button{
    width: 40px;
    height: 40px;
    background-color: #F93237;
    border-radius: 50%;
    color: #fff;
    text-transform: uppercase;
    justify-content: center;
    font-size: .8em;
    margin-right: 20px;
}
.al{
    align-items: center;
}
.address-icon{
    color: #F93237;
    margin-top: 10px;
    width: 20px;
    margin-left: 4px;
    margin-right: 4px;
}
.reload-icon{
    margin-top: 10px;
    margin-left: auto;
    margin-right: 23px;
}
.suspended{
    color: #DCDCDC;
}
.icons-div{
    flex-wrap: wrap;
}
.sld{
    margin-top: 20px;
    margin-bottom: 20px;
}
.address-slider{
    margin-top: 10px;
}
.address-prelocation-info{
    margin-bottom: 30px;
    margin-top: 30px;
}
.address-postlocation-info{
    margin-top: 30px;
}
.address-owner-title{
  margin-top: 20px;   
  margin-bottom: 20px;   
}
#map{
    height: 300px;
}
.labels{
    font-size: .8em;
    font-family: solomon-bold;
    color: #C8CACA;
    text-transform: uppercase;
}
.owner-name a{
    color: #FF4D48;
    font-size: 1.2em;
}
.address-owner-info{
    margin-bottom: 30px;
}
.special{
    color: #FF4D48;
}
.order-count-for-address .pi-number{
    margin: 0;
    font-size: 2em;
    line-height: 1;
}
.service-price, .month-price6, .month-price11, .ser-price{
    font-size: 1.2em;
}
.service-price a{
    color: #33424D;
}
.address-promo{
    margin-top: 40px; 
}
.address-promo .address-card{
    height: 404px;
}
.address-promo .address{
    height: 100px;
    overflow: hidden;
}
.address-promo .address-icons{
    height: 20px;
    margin: 10px 0;
    overflow: hidden;
}
.radio-item{
    display: none;
}
.radio-value{
    cursor: pointer;
    border-radius: 5px;
    background-color: #fff;
    padding: 10px 0;
    width: 50px;
    font-size: .8em;
    text-align: center;
}
.tax-block .radio-value{
    width: 25px;
    padding: 5px 0;
}
.district-block .radio-value.active{
    background-color: #FF4D48;
    color: #fff;
}
.tax-block .radio-value.active, .by-count.active, .by-card.active{
    background-color: #FF4D48;
}
#order-payment_type{
    display: none;
}
.filter-by{
    margin: 20px 0;
    padding-left: 0px;
}
.widget-filter{
    min-height: 1000px;
    padding: 30px 0;
    position: relative;
     /*background-image: url('../img/filter_back.png');*/
    background-repeat: no-repeat;
    /*background-size: cover;*/
}
.add-searcher{
    /*text-align: center;*/
    text-align: left;
    margin-bottom: 27px;
    /*padding-left: 15px;*/
}
.district-block, .tax-block{
    padding-right: 20px;
}
.add-searcher span{
    /*padding-left: 40px;*/
}
.radio{
    margin: 0;
}
.tax-block .radio-box{
    padding: 10px 10px;
    padding-left: 0;
    flex-basis: 20%;
}
.district-block .radio-box{
    padding: 10px 22px 10px 0px;
}
.tax-block .radio-value{
    width: 23px;
    height: 23px;
}
.tax-block{
    display: flex;
    flex-wrap: wrap;
}
.fselect{
    padding-right: 20px;
}
.address-full-info{
    margin-top: 40px;
}
.widget-separator-with-background .promo-information{
    border-radius: 5px;
    padding: 10px 5px;
}
.page-info{
    margin-top: -25px;
    margin-left: 0px;
}
.offset-padding-10{
    padding-left: 10px;
}
.price-filter-word{
    font-family: solomon-bold;
}
.filter-bar{
    flex-basis: 10%;
}
.select-bar{
    flex-basis: 29%;
}
.select-bar .form-group{
    width: 100%;
}
.between{
    justify-content: center;
    /*justify-content: space-between;*/
}
.standart-btn-container{
    display: flex;
    justify-content: center;
}
.price-table thead, .kv-grid-table thead{
    color: #fff;
    background-color: #5D6871;
}
.price-table thead tr th{
    padding: 20px 10px;
}
/*.price-table thead tr th.pth{
    padding-left: 40px;
}*/
.price-table thead tr th div.th-wrapper{
    display: flex;
}
.sort-button{
    cursor: pointer;
    margin-left: 20px;
}
#prices .price-table tbody tr{
   height: 50px;
}
#prices .price-table tbody td{
    padding-left: 0;
}
tr:nth-child(even) {background: #F5F5F5}

.table-checkbox input{
    display: none;
}

.price-table.table tbody td{
    padding: 10px;
    vertical-align: middle;
}
.price-table.table .address-icon{
    margin-top: 0;
}
.new-label{
    width: 30px;
    height: 30px;
    background-color: #FF4D48;
    color: #fff;
    border-radius: 50%;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .7em;
    margin: 0 auto;
}
.book-it{
    min-width: 0;
    padding: 4px 10px;
}
#price table{
    border-color: transparent;
}
hr{
    padding-bottom: 40px;
    border-top: 2px solid #5D6871;
}
#prices .bottom-text{
    margin-top: 40px;
}
.article-title{
    font-family: solomon-normal;
    font-size: 1.4em;
}
.article-header{
    font-family: solomon-book;
    font-size: 2.5em;
}
.articles-reload{
    margin-top: 10px;
    /*margin-right: 10px;*/
}
.article-date{

}
.article-item{
    margin-bottom: 25px;
}
.article-date{
    color: #A9A9A9;
}
.article{
    margin-bottom: 35px;
}
.article-item ul span{
    margin-right: 5px;
    color: #FF4D48;
}

.article-item ul{
    padding: 0;
    list-style-type: none;
}
.article-text a{
    color: #FF4D48;
}
.uppercase{
    text-transform: uppercase;
}
.article-paragraph{
    font-family: solomon-semibold;
}
.article-hr{
    margin: 50px 0;
    border-top: 2px solid #5D6871;
}
.article a{
    color: #FF4D48;
    padding-left: 15px;
    font-family: solomon-semibold;
}
.socs{
    height: 25px;
    justify-content: center;
    width: 25px;
    /*margin: 0 10px;*/
    margin-left: 15px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    font-size: 10px;
    background-color: #FF4D48;
}
.articles-widget{
    margin-bottom: 30px;
}
/*#reg,   #change-password, .order-address-popup{
    z-index: 111111;

    background-color: #33424C;

    width: 100%;

    position: fixed;
    top: 0;
    left: 0;
}*/
  #change-password{
    height: 100vh;
    padding-top: 8vh;
    background-color: #EBEDEC;
}
.fancybox-toolbar{
    display: none;
}
#reg{
    /*background-color: #33424C;*/
}
#login, #restore-pwd, #change-password{

   /* background-color: #EBEDEC;*/
}

.put-to-right{
    /*
    padding-right: 16px;
    */
    justify-content: flex-end;
}
.cab-widget, .cab-widget-head{
    width: 300px;
}
.column{
    flex-direction: column;
}
#reg .logo{
    color: #5D6871;
}
#reg .reg-logo,
#login .login-logo,
#restore-pwd .restore-logo,
#change-password .change-logo
{
    margin-top: -35px;
    margin-bottom: 30px;
}
.order-address-popup .order-logo{
    margin-top: 20px;
}
#form-order fieldset .form-group{
   /* display: flex;
    align-items: center;*/

}
#form-order fieldset .form-control{
    flex-basis: 55%;
    margin-left: 5%;
}
#form-order fieldset .control-label{
    flex-basis: 40%;
}
#form-order{
    margin-top: 40px;
}
.hint-block{
    display: none;
}
.field-addresssearch-metro_id .hint-block{
    display: block;
}
.public-address .find{
    margin-top: 0;
}
#reg .under-logo-text{
    color: #5D6871;
}
#reg .registration-title{
    color: #33424D;
    font-size: 1.5em;
}
#login .login-title,
#restore-pwd .login-title,
#change-password .change-title,
.order-address-popup .title
{
    font-size: 1.5em;
}
#login .field-row .label-content,
#restore-pwd .field-row .label-content,
#change-password .field-row .label-content
{
    color: #33424D;
}
.filter-pp{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    /*background-color: rgba(0, 0, 0, .7);*/
    z-index: 111;
}
.filter-pp.show-filter{
    display: block;

    /*justify-content: center;
    align-items: center;*/
}
.filter-pp .cabinet-form{
    position: absolute;
    /*top: 0;*/
  /*  background: rgb(229, 230, 232);*/
    width: 50%;
    transform: translate(-50%, -50%);
    /*left: 100%;*/


}
.filter-pp form{
    padding: 20px;
    display: flex;
    flex-direction: column;
   /* background: rgb(229, 230, 232);*/
}

.filter-pp-area{
    position: relative;
    width:100%;
    height:100%;
}
.filter-pp .dates-from-to{
    padding-left: 0;
}
.filter-pp-area .field-row .form-input{
    flex-basis: 100%;
}
.reg-tutorial sup{

    font-size: 2em;
    top: 5px;
}
.open-form{
    cursor: pointer;
}
/* REG FORM  START*/
.reg-tutorial, .login-tutorial{
    /*padding-left: 38px;*/
    text-align: left;
    color: #FF4D48;
}
.login-tutorial a{
    color: #FF4D48;
}
.login-tutorial div{
    margin-bottom: 20px;
    font-family: solomon-bold;
}



.field-row sup {
    top: 5px;
    color: #FF4D48;
}
.field-row .label-content{
    color: #33424D;
}
.field-row .form-label{
    flex-basis: 40%;
}
.field-row .form-label sup{
    margin-left: 5px;
}
.field-row .form-input{
    flex-basis: 55%;
    margin-left: 5%;
}
.field-row .form-input input, .field-row .form-input select, .field-row .form-input textarea{
    width: 100%;
    border-radius: 5px;
    padding: 8px 15px;
    border: none;
    outline: none;
    box-shadow: inset 0px 1px 3px 0px rgba(168,168,168,1);
}
.field-row .form-input input::-webkit-input-placeholder {color:#333;}
.field-row .form-input input::-moz-placeholder          {color:#333;}/* Firefox 19+ */
.field-row .form-input input:-moz-placeholder           {color:#333;}/* Firefox 18- */
.field-row .form-input input:-ms-input-placeholder      {color:#333;}



.field-row .form-input select{

    font-family: solomon-normal-italic;
    padding: 10px 15px;

    -webkit-appearance: none;
    background-image: url('../img/strelka.png');
    background-position: right 10px center;
    background-repeat: no-repeat;
    line-height: 1em;
    /* for FF */
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    /* for IE */
    -ms-appearance: none;
    appearance: none!important;
}
select > option:hover{
    appearance: none !important;
    -webkit-appearance: none;
    background-color: transparent !important;
}
.field-row .form-input input:focus,  input.form-control:focus { /*.field-row .form-input select:focus, select.form-control:focus*/
    box-shadow: none;

    color: #fff;
    background-color: #FF4D48;
}
.field-row .form-input select:focus{
    background-image: url('../img/white_triangle.png');
}
.field-row{
    margin-bottom: 15px;
}
.field-row.flex{
    flex-wrap: wrap;
}
.field-subrow{
    font-size: .8em;
    flex-basis: 40%;
}
.form-checkbox, .form-radio, .offerta-box, .nds-box{
    cursor: pointer;
    height: 20px;
    width: 20px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: inset 1px 1px 10px 0px rgba(128,128,128,1);
}
.field-checkbox-row{
    margin-top: 20px;
}
.reg-button{
    border: none;
    outline: none;
    padding: 15px 30px;
    min-width: 130px;
   /* min-width: 200px;*/
    margin-left: 45%;
}
.login-button, .change-button{
    margin-top: 40px;
    padding: 15px 30px;
    min-width: 120px;
    margin-left: 45%;
    border: none;
    outline: none;
}
.close-popup{
    /*margin-top: 20px;*/
    cursor: pointer;
}
input.error {
    border:2px solid #FF4D48 !important;
}
input.error::-webkit-input-placeholder {color:#FF4D48;}
input.error::-moz-placeholder          {color:#FF4D48;}/* Firefox 19+ */
input.error:-moz-placeholder           {color:#FF4D48;}/* Firefox 18- */
input.error:-ms-input-placeholder      {color:#FF4D48;}
.hidden{
    display: none;
}
.show-popup{
    display: block !important;
}
.success-action-block{
    flex-basis: 50%;
    margin-left: 55%;
    font-family: solomon-book;
    font-size: 3em;
}
.help-block.help-block-error{

    color: #FF4D48;
    margin-left: 0;
    height: 0px;
   /* display: none;*/
}
.has-error .help-block.help-block-error{
    height: 25px;
}
.help-block{
    float: left;
    margin-left: 5%;
}
.help-block{
    float: left;
    margin-left: 5%;
}
#reg .success-message{
    color: #33424D;
}
.thanks{
    color: #FF4D48;
    margin-top: 20px;
}
.restore-information{
    margin-top: 30px;
    margin-left: 40%;
    font-family: solomon-book;
    font-size: 3em;
    padding-bottom: 20px;
}
.article-line{
    padding: 15px;
}
.article-line:nth-child(even){
    background-color: #F3F3F3;
}
.article-line a{
    color: #FF4D48;
}
.line-header{
    padding: 15px;
    font-family: solomon-normal;

}

.order-address-popup{
    /*background-color: #FF8E3C;*/
}
.order-address-popup .logo, .order-address-popup .under-logo-text{
    color: #fff;
}
.popup-page{
    /*margin-left: 27%;*/
    margin: auto;
    font-size: 1.5em;
}
.order-address-popup .label-content{
    color: #33424D;
}
.order-address-popup .service-list{
    margin: 20px 0;
    color: #33424D;
    font-size: 1.1em;
    font-family: solomon-normal;
}
.order-address-popup .order-button{
   /* margin-top: 30px;*/
    margin-left: auto;
    padding: 15px;
    outline: none;
    border: none;
}
.order-button-back{
    padding: 15px;
    /*background-color: #33424D;*/

}
.order-page-two .order-button{
    margin: auto;
    margin-left: 34%;
}
.order-button-back{
   /* margin-left: 2%;*/
    border: none;
    box-shadow: none;
    outline: none;
}
.cloud-bg {
    background-image: url(../img/filter_bg.png);
    background-repeat: no-repeat;
    background-position: left 0px;
    background-size: 35%;
}
.registrant-type{
    margin-bottom: 20px;
}
.cloud-bg.no-padding-top-bg{
    background-position: left top;
}
.main-menu .dropdown-menu li a{
    color: #F93237;
    font-family: solomon-semibold;
}
.main-menu li.active-menu a{
    color: #33424D;
}
.main-menu .dropdown-menu{
    box-shadow: 0px 2px 1px 0px rgba(199,199,199,0.64);
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus{
    background-color: #fff;
}
/*@media screen and (min-width: 1650px) {
    .cloud-bg {

        background-position: left 20px;
        background-size: 630px auto;

    }
}
@media screen and (max-width: 1650px) {
    .cloud-bg {

        background-position: left 20px;
        background-size: 500px auto;

    }
}*/
h1 a{
    color: #F93237;
}
.cabinet-form form.notification-form{
    margin-bottom: 40px;
}
@media screen and (max-width: 1200px) {
    .cloud-bg {
        background-size: 27% auto;
        background-position: left 0px;

    }
    .fix-padding .public-address{
        margin-right: 82px;
    }
}
.has-success .control-label{
    color: #333;
}
.page-4 .form-group{
    margin-top: 0;
}
.page-rule{
    margin-top: 30px;
}
.order-page-three .form-input{
    color: #333;
}
#uislider{
    position: relative;
    height: 2px;
    background-color: #E8B081;
}
.ui-slider-handle{
    outline: none;
    top: -3px;
    cursor: pointer;
    z-index: 2;
    width: 10px;
    height: 10px;
    position: absolute;
    border-radius: 50%;
    background-color: #fff;
    display: inline-block;
}
.start-month, .end-month{
    position: absolute;
    top: -25px;
}
.start-month{

    left:0;
}
.end-month{
    right:0;
}
.slider-current-value{
    color: #fff;
    margin-top: 15px;
}
.main-page-link{
    color: #33424D;
}
.left-padding{
    padding-left: 40px;
}
.close-popup{

}
#login{
    margin-top: 20px;
}
#login .close-popup-circle{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: -20px;
    top: -20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #EBEDEC ;
}
.fancybox-close{
    background-image: url("../img/close.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #EBEDEC;
    border-radius: 50%;
}
/* REG FORM  END*/
/*Mobile tabs*/
.other-mobile-container, .subway-mobile-container, .tax-mobile-container, .district-mobile-container{
    display: none;
}
.mobile-top-menu{
    display: none;
}
.cab-extra-info{
    display: flex;
    color: #F93237;
}
.reg-tutorial.cab-text-info{
    font-size: 12px;
    font-family: solomon-bold;
}

.cab-menu-block{
    margin-top: 20px;
    /*padding-left: 120px;*/
}
.cab-menu-block{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}
.cab-menu-item{
    margin: 5px 0;
    font-family: solomon-bold;
    color: #F93237;
}
.cabinet-form .field-row .label-content{
    color: #33424D;
}
.upper-menu-part .phone-email{
    padding-left: 32px;
}
.dates-from-to{
    display: flex;
}
.count-search-subdata{
    display: flex;
}
.field-row.count-search-subdata-input{
    flex-basis: 60%;
}
.field-row.count-search-subdata-input .form-input{
    flex-basis: 100%;
}
.field-row.count-search-subdata-select .form-input{
    flex-basis: 100%;
}
.field-row.count-search-subdata-select{
    flex-basis: 30%;
    margin-left: 6%;
}
.dates-from-to .from-date-cnt{
    margin-right: 20px;
}
.dates-from-to .field-row .form-label{
    flex-basis: 30%;
}
.count-search-subdata .form-input {
    margin-left: 0;
}
.pick-address{
    padding-left: 20px;
}
.count-search-checkbox-subdata{
    display: flex;
}
.count-search-checkbox-subdata .count-search-checkbox{
    flex-basis: 35%;
    display: flex;
}
.count-search-checkbox-subdata .count-search-checkbox .form-input{
    flex-basis: 18%;
    margin-left: 0;
    margin-right: 2%;
}
.count-search-checkbox-subdata .count-search-checkbox .form-label{
    flex-basis: 80%;
}
.checkbox-part-one{
    flex-basis: 10%;
    margin-right: 10%;
}
#submit-count-search-form{
    align-self: flex-end;
    margin-bottom: 10px;
}

.price-table.counts-table.table thead th, .price-table.counts-table.table tbody td*/{
  /*  padding-left: 20px;*/
}
.price-table.counts-table.table th{
    text-align: center;
}
.price-table.counts-table.table tbody:before {
    content: "-";
    display: block;
    line-height: 1em;
    color: transparent;
}
.price-table.counts-table.table tbody tr:first-child td{
    border: none;
}
.counts-table{
    margin-top: 40px;
}
.cabinet-section h2{
    margin-top: 0;
    margin-bottom: 30px;
}
.filter-callout{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    font-size: 20px;
    cursor: pointer;
}
.active-filter{
    color: #FF4D48;
}
.clear-filter{
    margin-left: auto;
}
.count-search-checkbox label{
    margin-bottom: 0;
}
.orders-search-form .field-row .form-input{
    flex-basis: 100%;
}
.orders-search-form .field-row{
    flex-basis: 100%;
    width: 100%;

}
.address-publish-card .cabinet-form{
    margin-top: 20px;
}
.orders-search-form .field-row .form-input{
    margin-left: 5%;
}
.orders-search-form .dates-from-to .field-row .form-input{
    flex-basis: 70%;
}
.orders-search-form .field-row .form-input{
    margin-left: 0;
}
.get-order-address{
    font-family: solomon-book;
    font-size: 2em;
    font-weight: bold;
    margin: 30px 0;
}
.order-value{
    margin: 5px 0;
    font-family: solomon-normal;
    font-size: 1.5em;
}
.mobile-address-search{
    display: none;
    justify-content: center;
    align-items: center;
    color: #FF4D48;
    font-family: solomon-bold;
}
.mobile-address-search span{
    cursor: pointer;
}
.search-closer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.address-search-popup{
    display: none;
}
.absolute{
    /*position: absolute;*/
    z-index:111;
    max-width: 100%;
}
.cant-modify{
    padding-left: 10px;
}
.cabinet-label{
    margin: 40px 0;
}
.cant-modify.attention{
    color: #FF4D48;
}
.company-table .book-it{
    padding: 8px 25px;
    font-size: 15px;
}
.delivery-form-submit{
    display: flex;
    /*justify-content: space-between;*/
}
.change-page{
    cursor: pointer;
}
form#person, form#company, form#ip{
    display: none;
}
form#person.show, form#company.show, form#ip.show{
    display: block;
}
.table-checkbox{
    display: flex;
    justify-content: center;
}
.td-notification-email{
    color: #FF4D48;
}
#notification-email .form-label{
    flex-basis: 15%;
}
#notification-email .form-input{
    margin-left: 5%;
    flex-basis: 80%;
}
.notiications-button{
    margin-left: 0;
}
.desc-right{
    float: right;
}
.clear{
    clear: both;
}
.flex-all{
    display: flex;
	padding: 10px 0;
}
.service-price, .service-name, .pi-number, .clean{
    flex-basis: 30%;
}
.owner-name{
    padding-left: 5px;
    flex-basis: 80%
}
.service-name, .clean{
    padding-left: 10px;
}
.service-price{
   /* margin-left: 8%;*/
}
.address-owner-info .icon{
    flex-basis: 8%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.address-extra-content{
    flex-basis: 92%;
    padding-left: 5px;
}
.address-owner-info{
    display: flex;
}
.extra-service-margin{
    margin-left: 8%;
}
#choose-your-status{
    margin: 20px 0;
    display: block;
    width: 300px;
}
.soc-block{
    float: right;
}
.profile-menu-closer{
    display: none;
}
.order-master-padding{
    padding-left: 10px;
}
.price-filter-block{
   /* padding-left: 5px;*/
}
.share-soc{
    display: flex;
}
.filter-callout{
    margin-left: auto;
}
.socs{
    justify-content: center;
    display: flex;
    align-items: center;
}
.order-flex{
    display: flex;
}
.order-flex .order-flex-left{
    flex-basis: 25%;
}
.order-flex .order-flex-right{
    flex-basis: 75%;
}
.cab-owner-cnt{
    /*padding: 0 5px;*/

}
.stat-head{
    margin-left: 5px;
}
.form-input .form-group{
    margin-bottom: 0;
}
.detail-font{
    font-size: .8em;
}
.price-table .icons-div{
    flex-wrap: wrap;
    max-width: 200px;
}

.price-table .icons-div div{
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    margin: 5px;
}
.close-filter-button{

    padding: 10px;
    text-align: right;
}
.close-filter-button img{
    cursor: pointer;
}
.price-table .icons-div img{
    max-width: 100%;
    max-height: 100%;
}
.hide-input input{
    display: none;
}
.td-notification-email input{
    border: none;
    padding-left: 10px;
}
.filter-pp .order-flex-right{
    flex-basis: 100%;
}

.has-sort th a{
    padding-right: 10px;
    background-image: url('../img/white_triangle.png');
    background-repeat: no-repeat;
    background-position: right center;
}
.has-sort th a.active-sort-asc{
    background-image: url('../img/strelka_up.png');

}
.has-sort th a.active-sort-desc{
    background-image: url('../img/strelka.png');

}

/* Реквизиты */
div.card {
    color: #333;
    width: 70%;
    /*float: left;*/
    padding: 10px 2%;
   /* margin: 20px 0;*/
   /* border: 1px solid #777;*/
    border-radius: 5px;
    background: #FFF;
    margin-bottom: 20px;
}

div.card div.header {
    font-size: 14pt;
    margin-bottom: 10px;
    background: #EEE;
    padding: 5px 15px;
}
div.card i{
    color: #FF4D48;
}

div.card div.header span.caption{
    width: 100%;
    font-weight: bold;
    color: #333;
    padding: 0 5px;
    font-size: 11pt;
}

div.card div.value {
    margin: 0;
    font-size: 12pt;
    width: 100%;
    text-align: center;
    padding: 0 5px;

}

div.card div.undervalue {
    margin: 0;
    width: 100%;
    text-align: center;
    color: #777;
    font-size: 8pt;
    width: 100%;
    margin: 0;
    font-weight: normal;
    padding: 0 5px 15px 5px;
    border-top: 1px dashed #AAA;
}

/* /Реквизиты */

@media all and (max-width: 1100px) and (min-width: 991px) {
    .navbar-nav > li > a{
        padding-left: 10px;
        padding-right: 10px;
    }
}
.red-checkbox{
    display: none;
}
.filter-apply-block {
    display: flex;
}
table th a{
    color: #fff;
}
.block{
    display: block;
}
.cabinet-form form{
    margin-bottom: 20px;
}
.cabinet-form form h2{
    margin: 20px 0;
}
.rekvizit-container ul.dd-button{
    margin-bottom: 20px;
}
.pwrap{
    margin-top: -50px;
}
.cabinet-form .nav .open > a, .cabinet-form .nav .open > a:hover, .cabinet-form .nav .open > a:focus{
    background-color: transparent;
}
.cabinet-form .dropdown-menu{
    top: 130%;
    left: 50%;

    color: #fff;
    padding: 0;
    transform: translateX(-50%);
}
.cabinet-form .dropdown-menu li a:hover{
    background-color: #FF4D48;
    color: #fff;
}
.change-data{
    text-align: right;
    margin-top: 20px;
}
.dropdown i, .dropdown span.caret{
    color: #FF4D48;
}
.dd-button span.caret{
    color: #fff;
}
.radio label, .checkbox label{
    padding-left: 0;
}
#address-options label img{
    width: 15px;
}
.col-code i{
    color: #FF4D48;
    margin: 0 3px;
}
#form-order label{
    color: #33424D;
}
tbody .col-price  a{
    color: #33424D;
}
.price-table .icons-div a, .address-icons a{
    width: 15px;
    margin: 0 5px;
}
.address-one .icons-div a{
    width: 15px;
    margin-left: 10px;
}
.address-one .icons-div a img{
    width: 100%;
}
.address-one .icons-div{
    display: flex;
    justify-content: flex-end;
}
.address-one .add-header{
    margin-top: 20px;
    margin-bottom: 20px;
}
.address-one .order-fancybox{
   font-size: 0.8em;
}
.address-first-row{
    /*justify-content: space-between;*/
    justify-content: flex-start;
}
.address-first-row .address-text-district{
    /*flex-basis: 45%;*/
    word-break: break-all;
}
.address-first-row .middot{
    flex-basis: 5%;
    display: flex;
    justify-content: center;
}
.address-text-tax{
    flex-basis: auto;
}
.address-one .order-address-button{
    margin-right: 35px;
}
.nav > li > a.dropdown-toggle{
    display: flex;
    align-items: center;
}
.nav > li > a.dropdown-toggle .caret{
    margin-left: 5px;
}
footer ul{
    list-style-type: none;
    padding-left: 0;
}
.bottom-menu li{
    padding: 2px 0;
}


/*checkbox new*/
.form-checkbox, .form-radio, .offerta-box{
    cursor: pointer;
    height: 20px;
    width: 20px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: inset 1px 1px 10px 0px rgba(128,128,128,1);
    float: left;
    margin-right: 10px;
}
.checkbox-item.active-checkbox, .form-checkbox.active-checkbox, .form-radio.active-checkbox, .offerta-box.active-checkbox{
    background-color: #F93237;
}

div.form-checkbox {

    float: left;
    margin-right: 15px;
}

.cbx-icon {
    background-color: #fff;
}
.cbx-icon i{
    cursor: pointer;
    height: 20px;
    width: 20px;
    border-radius: 5px;
    box-shadow: inset 1px 1px 10px 0px rgba(128,128,128,1);
    border: 0;
    height: 20px;
    width: 20px;
    top: -2px; left: -2px;
    border-radius: 5px;
    background-color: #F93237;
    color:#F93237;
}

.cbx-container {
    margin-top: 8px;
    margin-bottom: 7px;

    width: 65%;
}

/*checkbox new end*/

/*address*/
.address-search .form-group div.checkbox {
    float: left;
    width: 23%;
    clear:none;
    height: 40px;
    margin: 0px 5px 10px 5px;
}


.address-search .form-group .options-checkbox-list div.checkbox {
    width: 46%;
    height: 45px;
}

.address-search .form-group div.checkbox  label{
    text-align: left;
}

.address-search div.checkbox-list,
.address-search div.options-checkbox-list {

    clear: both;
}

/*  end address */

.empty-icon{
    border: 1px solid white;
    width: 30px;
    height: 10px;
    display: block;
    float: left;
}
#addresssearch-options_id img, #address-serviceidlist a img{
    width: 15px;
}
.price-table img{
    width: 15px;
    height: 15px;
    margin: 0 5px;
}
ul.pagination{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    max-width: 600px;
    margin: 20px auto;
    background-image: url("/img/hr.png");
    background-position: center;
    background-size: 100% 5px;
    background-repeat: no-repeat;
}
ul.pagination li{
    display: flex;
}
ul.pagination > li.pagination-first > span,
ul.pagination > li.pagination-last > span,
ul.pagination > li.pagination-last > a,
ul.pagination > li.pagination-first > a
{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5D6871;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: all .5s;
}


ul.pagination > li.pagination-first.disabled:hover span,
ul.pagination > li.pagination-last.disabled:hover span,
ul.pagination > li.pagination-prev.disabled:hover span,
ul.pagination > li.pagination-next.disabled:hover span

{
    color: #fff;
    background-color: #F93237;
    /*display: none;*/

}

.pagination > li.pagination-prev  > span,
.pagination > li.pagination-next  > span,
.pagination > li.pagination-next  > a,
.pagination > li.pagination-prev  > a
{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5D6871;
    width: 50px;
    height: 50px;
    transition: all .5s;

    border-radius: 50%;
}
ul.pagination > li.usual.active-pag a{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0px 5px 11px 0px rgba(161,161,161,1);
    border: none;
    display: flex;
    align-items: center;
    color: #33424D;
    justify-content: center;
    background-color: #fff;
}
ul.pagination > li.usual a{
    transition: all .5s;
    color: #33424D;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D5DADA;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
ul.pagination > li a:hover{
    color: #fff;
    background-color: #F93237;
}
.price-table th a{
    color: #fff;
}
.price-table .col-okrug_id{
    min-width: 70px;
    text-align: center;
}
.price-table .col-nalog_id, .price-table .col-price11,.price-table .col-price6{
    text-align: center;
}
.static-page{
    padding-top: 20px;
    padding-bottom: 20px;
}
.static-block h2{
    font-size: 23px;
}
.user-card-container{
    max-width: 500px;
    width: auto;
    margin: 50px auto;
}
.user-card-addresses h2, .order-card-container h2 {
    text-align: center;
}
.user-card-container .user-card-label, .order-card-container .user-card-label{
    flex-basis: 30%;
    font-size: 1.2em;
}
.user-card-container .user-card-value, .order-card-container .user-card-value{
    flex-basis: 60%;
}
.order-card-container{
    margin: 20px 0;
    max-width: 600px;
    width: auto;
}
.user-card-row{
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}
.user-card{
    display: flex;
    justify-content: space-between;
}
.user-card-label{
    font-weight: 500;
}
.user-card-container .card{
    margin: 50px auto;
}
.user-card-container .card .header{
    text-align: center;
}

.user-card-title{
    text-align: center;
}
.go-to-address{
    cursor: pointer;
}
.addresses-list .address{
    height: 100px;
    overflow: hidden;
}
.addresses-list .address-icons{
    height: 20px;
    margin: 10px 0;
    overflow: hidden;
}
.b-link, .breadcrumb li{
    /*text-transform: capitalize;*/
}
.upper-menu-part .publish-address{
    justify-content: flex-end;
}

.faq-page .block-faq{
    margin-left: 0;
}
.faq-page #accordion{
    margin-left: 0;
}
.faq-page .question-container{
    padding-left: 0;
}
.faq-page .article a{
    padding-left: 0;
}
.faq-page .question-answers{
    padding-left: 0;
}
.address-card{
    height: 404px;
}
.fix-filter-button{
    display: flex;
    justify-content: flex-end;
}
.fix-filter-button .public-address{
    margin-right: 75px;
}
.widget-form-container .radio-value{
    cursor: not-allowed;
    color: #33424D;
}
.widget-form-container .radio a .radio-value{
    cursor: pointer;
    color: #33424D;
}
.widget-form-container .radio a:not([href]) .radio-value{
    cursor: not-allowed;
    color: #33424D;
}
.widget-form-container .radio a .radio-value.active{
    color: #fff;
}
.order-final-ul{
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 20px;
}
.order-final-ul li{
    margin: 5px 0;
}
.owner-form #choose-your-status{
    margin: 20px auto;
}
.cabinet-button{
    margin: 20px 0;
}
.cabinet-form table .dropdown-menu{
    left: 0;
    transform: translateX(0);
}
.order-final-ul li span{
    font-weight: bold;
}
.show-block{
    display: block;
}
.show-block i{
    color:#F93237;
}
.faq-wrapper{
    margin: 20px 0;
}

.address-not-found{
    color:#F93237;
    text-align: center;
    font-weight: bold;
    margin: 20px 0;
}
#addresssearch-metro_id {
    margin-right: 10px;
}
.articles-reload{
    cursor: pointer;
}
h1.customize-header{
    margin-top: 0;
    margin-bottom: 0;
}
/*#form-signup .field-row{
    align-items: flex-start;
}
#form-signup .form-label{
    margin-top: 15px;
}*/
.order-create h1{
    font-size: 30px;
}
.errormessage{
    text-align: center;
    color:#F93237;
    font-size: 16px;
}
.error-block{
    min-height: 150px;
}
.error-block .message{
    margin-top: 15px;
}
.error-fix-variant{
    margin-top: 20px;
    margin-left: 0;
    padding-left: 0;
    list-style-type: none;

}
.error-fix-variant li{
    margin: 5px 0;

}
.error-fix-variant a{
    color:#F93237;
}
#site-reset-password-token{
    min-height: 30vh;
}
.news-title a{
    color: #33424D;
}
.pricelist td.col-options{
    display: flex;
    align-items: flex-start;
    width: 120px;
    flex-wrap: wrap;
}
select option:hover{
    /*background-color: transparent;*/
    /*color: #33424D;*/
}
.order-complete-data{
    flex-basis: 55%;
    margin-left: 5%;
}
.cancel-filter{
    cursor: pointer;
    color:#F93237;
}
#settlementFilterForm #w7 .row{
    display: flex;
    align-items: flex-end;
}
#settlementFilterForm #settlementsearch-summacondition{
    width: 160px !important;
    margin-left: 0 !important;
}
#settlementFilterForm .checkbox{
    margin: 5px 0;
}
#settlementFilterForm button.reg-button{
    float: none !important;
}
.panel-primary{
    box-shadow: none;
    /*padding: 10px;*/
    border: none;
    background-color: transparent;
}
.panel-primary > .panel-heading{
    background-color: transparent;
    font-weight: bold;
    color: #333;
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: space-between;
    border: none;
}
td.kv-group-odd, td.kv-group-even {
    background-color: transparent!important;
}
.kv-page-summary-container  td{
background-color: #fff;
}
.kv-panel-pager .pagination{
    margin: auto;
}
a.move-to-address, a.customet-rel, a.order-rel {
    color:#F93237;
}
.kv-panel-before .dropdown-header{
    white-space: inherit;
    font-size: 12px;
    margin-bottom: 10px;
    font-weight: bold;
}

.demo{
    order: 1;
    font-weight: bold;
   /* margin-left: 55%;*/

}
.field-address-demo{
    display: flex;
}
.field-address-demo label{
    display: flex;
}
.field-address-demo .form-checkbox{
    order: 2;
    margin-left: 27%;
}
.field-address-demo .checkbox{
    margin-left: 0;
}
.table > tbody > tr.warning > td, .table-hover > tbody > tr.warning:hover > td{
    background-color: transparent;
}
.panel-title{
    font-size: 32px;
}
.panel-heading div.pull-right{
    order: 3;
}
.panel-heading h3{
    order: 1;
}
.panel-heading .clearfix{
    order: 2;
}
.field-stat-dayfrom {
    display: none;
}
.help-block{
    margin-bottom: 15px;
}
.field-signupform-offerta_confirm .help-block{
    margin-bottom: 30px;
}
.statistics-filter a{
    color:#F93237;
}
.owner-form #choose-your-status{
    float: none;
    margin-top: 40px;
}
.text-with-white{
    background-color: #fff;
    padding: 10px 20px;
    margin-top: 20px;
    margin-bottom: 40px;

}
.text-contents a{
    display: inline;
    padding-left: 0;
}
.seo-background{
    background-color: #fff;
    padding: 10px 0;
}
a.card-filter{
    display: block;
    color: #33424D;
}
.upper-menu-part nav.main-menu ul{
    padding-left: 5px;
}
.order-view .labels{
    margin-top: 20px;
}
.contacts .contact-name{
    font-family: solomon-semibold;
}
.contacts .contact-block{
    margin-bottom: 20px;
}
.header-with-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#form-address .cbx-icon i{
    top: -1px;
    left: 0;
}
.address-top-bar{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.address-top-bar p.mobile-cabinet-button{
 margin-bottom: 0;
}
.address-top-bar .cabinet-button,.address-top-bar .filter-callout{
    margin-bottom: 0;
    margin-top: 0;
}

.share-soc a.socs{
    display: flex;
    color: #fff;
}

table.table i, .document-link a, a.settlement-link, a.table-link {
    color: #F93237;
}
.bootstrap-dialog.type-warning .modal-header{
    background-color: #F93237;
}
.modal-dialog .btn-warning{
    background-color: #F93237;
}
.email a, .auction-index .glyphicon{
    color: #F93237
}
.cabinet-breadcrumb .breadcrumb{
    padding-left: 0;
}
.cabinet-section h2{
    margin-top: 10px;
    margin-bottom: 10px;
}
#requisites{
    margin-top: 20px;
    margin-bottom: 20px;
}

.order-filter .filter-callout{
    margin-bottom: 0;
}
h1.statistics-filter{
    font-size: 32px;
}
.alone-filter{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.legend-block{
    margin-top: 25px;
}
.nom-table{
    margin-top: 0;
}
.filter-wrp{
    padding-left: 10px;
    padding-right: 25px;
    justify-content: flex-end;
    display: flex;
    align-items: center;
}
.alone-filter .filter-wrp{
    padding-right: 10px;
}
.cancel-current-filter{
    font-size: 16px;
    margin-left: 10px;
}
.header-with-menu ul.dropdown-menu{
    left: auto;
    right: 0;
    transform: translateX(0);
}
h1.address-detail-head{
  margin-bottom: 15px;
}
.reg-step sup{
    color: #F93237; 
}
.reg-step .help-block{
    float: right;
    width: 65%;
    margin-left: 2%;
}
.reg-step .nds-input-form{
    margin-left: 5%;
    width: 65%;
    float: right;
}
.stat .helper-td{
    font-weight: 500;
}
.auction-f, .auction-menu{
    display: inline-block;
}
.auction-f{
    margin-top: 10px;
}
.auction-f .filter-wrp{
    padding-right: 10px;
}
#auc .auction-menu .dropdown-toggle, #document-menu .dropdown-toggle{
    padding-left: 0;
}
#auc .auction-menu .dropdown-toggle:hover, #document-menu .dropdown-toggle:hover{
    background-color: transparent;
}
.auction-index td.col-date a, td.auction-address a{
    color: #FF4D48;
}
.new-auction-rate a{
    height: 50px;
    margin-top: 20px;
}
.new-auction-rate a i{
    margin-right: 10px;
}
.auction-hr{
    padding-bottom: 0;
    border-top: 1px solid #333;
}
.auction-table tr.owner{
    background-color: rgba(255, 25, 29, 0.1);
}
#document-menu{
    width: 100px;
}
.reg-button.change-data{
    text-align: center;
}
#form-order .checkbox label{
    width: auto;
}
.close-filter-button img{
    transform: translateX(25px);
}

.price-filter-row .standart-btn-container{
    margin-top: 20px;
}
.checkbox input[type=checkbox]{
    width: 0px;
    height: 0px;
    overflow: hidden;
}
.checkbox label{
    cursor: default;
}

.talbe-border-add .price-table.counts-table.table tbody tr:first-child td {
    border: 1px solid #ddd;
}
#login .login-title{
    text-align: center;
    font-size: 30px;
}
@media all and (max-width: 1100px) and (min-width: 991px) {
    .navbar-nav > li > a{
        padding-left: 10px;
        padding-right: 10px;
    }

}
@media (min-width: 991px) and (max-width: 1199px) {
    .fix-filter-button .public-address{
        margin-right: 97px;
    }
    .widget-separator-with-background .radio-value{
        margin: 0 10px;

    }


}
@media (min-width: 767px) and (max-width: 991px) {


    .widget-form-container{
        padding: 10px;
    }

    .footer-menu-block{
        padding: 0;
        margin: 17px 0;
    }

    .address-one .address-one-top{
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 5px;
    }
    .owner-name{
        margin-left: 25px;
    }
}
@media screen and (max-width: 1300px) {
    div.grid-view.long-table{
        overflow-x: scroll;
        overflow-y: visible;
        /*  overflow: visible;*/
    }
    div.grid-view.long-table table{
        width: 1100px;
    }
}


@media screen and (max-width: 1200px) {
    div.grid-view{
        overflow-x: scroll;
        overflow-y: visible;
        /*  overflow: visible;*/
    }
    div.grid-view table{
        width: 990px;
    }
}


@media screen and (max-width: 991px) {
    .field-address-demo .form-checkbox {
        margin-left: 21%;
    }
    .help-block.help-block-error{
       float: none;
        height: auto;
    }
    .form-group input, .input-group, .form-group select, .form-group textarea{
        float: none;
    }


    .container{
        padding-right: 30px;
    }
    .container.narrow{
        padding-left: 35px;
        padding-right: 50px;
    }
    .all-addresses-block{
        padding-right: 15px;
    }
    .widget-filter{
        min-height: auto;
    }
    .cab-menu-block{
        align-items: center;
    }
    .wrap #addresssearch-metro_id{
        float: none;
        width: 90%;
        margin: auto;
    }
    .nav > li > a{
        padding-left: 15px;
        padding-right: 15px;
    }
    .owner-form .field-row.flex{
        clear: both;
        margin: 20px 0;
    }

    .owner-form input{
        float: none;
    }
    .owner-form select.metro{
        float: none;
        margin-top: 0;
    }
    .fix-filter-button .public-address{
        margin-right: 97px;
    }

    #reg .reg-logo, #login .login-logo, #restore-pwd .restore-logo, #change-password .change-logo{
        margin-top: auto;
    }
    .address-card, .address-promo .address-card {
        height: auto;
    }
    .username-field{
        margin-right: 0;
    }
    .grid-table-container{
        overflow-x: scroll;

    }

    .filter-pp .cabinet-form{
        width: 80%;
        max-height: 100%;
    }

    .header-padding-left{
        padding-left: 15px;
    }
    .find-counts-cnt{
        margin-right: 10px;
        margin-bottom: 10px;
    }
    .cab-widget, .cab-widget-head{
        margin: auto;
        text-align: center;
    }
    .offset-padding{
        padding-left: 0;
    }
    .button-mobile{
        margin-top: 20px;
    }
    .add-searcher span{
        padding-left: 10px;
    }
    .cloud-bg{
        background-image: none;
    }
    .table-cnt{

        overflow-x: scroll;
    }
    .table-self{
        min-width: 991px;
    }
    .add-searcher{
        text-align: left;
    }
    .header-padding-left{
        /*padding-left: 15px;*/
    }
    .upper-menu-part .public-address{
        padding-left: 15px;
    }
    .add-searcher{
        margin-top: 0;
    }
    .breadcrumb{
        padding-left: 0;
    }
    .desc-right{
        float: none;
    }
    .page-info{
        margin-top: 0;
        padding-left: 15px;
    }
}
@media screen and (max-width: 767px) {
    .close-filter-button img{
        transform: none;
    }
    .price-filter-row .standart-btn-container{
        display: block;
    }

    #document-menu{
        width: 100%;
    }
    .filter-wrp{
        padding-right: 15px;
    }

    .no-pads-mobile{
        padding-right: 0;
        padding-left: 0;
    }
    .filter-pp.show-filter .cabinet-form{
        overflow: scroll;
    }
    .panel-primary > .panel-heading{
        display: flex;
        flex-direction: column;
    }
    .panel-heading div.pull-right{
        float: none !important;
    }
    .kv-panel-before ul.dropdown-menu{
        left: auto;
    }

    #settlementFilterForm #settlementsearch-summacondition{
        width: 60px !important;
    }
    #settlementFilterForm #settlementsearch-summa{
       margin-top: 15px;
    }
    .field-settlementsearch-summa{
        display: flex;
        margin-bottom: 0;
    }
    .burger-menu{
        margin-top: 5px;
    }

    .address-img{
        height: auto;
        max-height: 265px;
    }
    .container{
        padding-right: 15px;
    }

    .promo-infoblock .promo-information{
        margin-bottom: 20px;
    }
    .second-promo-row{
        margin-top: 0;
    }
    .bottom-part .pick-address{
        padding-left: 0;
    }

    #addresssearch-options_id div.checkbox:nth-child(odd){
        clear: both;
    }
    .address-search .form-group div.checkbox label {
        padding-left: 9px;
    }
    /*#form-order #w5 .row{
        display: flex;
        }
    */
    #form-order .row .next{
        min-width: 100px;
        float: right;
    }
    #form-order .row .prior{
        min-width: 100px;
        float: left;
    }
    .order-final-ul li{
        font-size: .8em;
        margin: 15px 0;
    }

   /* #form-order #w5 .row .next, #form-order #w5 .row .prior{
        min-width: 100px;
    }
*/
    .username-field{
        text-align: center;
    }
    .cabinet-form form h2{
        font-size: 1em;
    }
    .user-card-row.flex{
        font-size: .8em;
        display: flex;
        align-items: flex-start;
    }
    .user-card-row .user-card-value{
        text-align: right;
    }
    .cabinet-form h2{
        text-align: center;
    }
    .widget-filter{
        padding-bottom: 100px;
    }
    .logout-icon-div{
        margin-left: 5px;
    }
    .cabinet-form h1{
        font-weight: bold;
        font-size: 1em;
        text-align: center;
    }
    .address-one .all-addresses-block{
        padding-right: 0;
    }
    .lense-search img{
        height: auto;
    }
    .address-search .form-group div.checkbox{
        width:auto;
        margin-bottom: 35px;
        padding: 35px 0;
    }


    .fix-filter-button{
        justify-content: center;
    }
    .fix-filter-button .public-address{
        margin-right: 0;
    }

    .fix-padding{
        margin-right:auto;
    }


    .mobile-navigation-menu .custom-dropdown{
        justify-content: center;
    }
    .article-header{
        font-size: 2em;
        word-break: break-all;
    }
    .static-block h2{
        font-size: 20px;
    }
    #login-form .field-row, #form-signup .field-row{
        margin-bottom: 50px;
    }

    ul.pagination > li.pagination-first > span,
    ul.pagination > li.pagination-last > span,
    ul.pagination > li.pagination-last > a,
    ul.pagination > li.pagination-first > a
    {
        width: 25px;
        height: 25px;
        font-size: 14px;
    }




    .pagination > li.pagination-prev  > span,
    .pagination > li.pagination-next  > span,
    .pagination > li.pagination-next  > a,
    .pagination > li.pagination-prev  > a
    {

        width: 35px;
        height: 35px;
        font-size: 14px;

    }
    ul.pagination > li.usual.active-pag a{
        width: 35px;
        height: 35px;
        font-size: 14px;

    }
    ul.pagination > li.usual a{

        width: 25px;
        font-size: 14px;
        height: 25px;
    }


    .kv-panel-pager ul.pagination > li.pagination-first > span,
    .kv-panel-pager ul.pagination > li.pagination-last > span,
    .kv-panel-pager ul.pagination > li.pagination-last > a,
    .kv-panel-pager ul.pagination > li.pagination-first > a
    {
        width: 15px;
        height: 15px;
        font-size: 10px;
    }

    .kv-panel-pager ul.pagination > li.usual.active-pag a{
        width: 25px;
        height: 25px;
        font-size: 12px;

    }
    .kv-panel-pager ul.pagination > li.usual a{

        width: 15px;
        font-size: 10px;
        height: 15px;
    }
    .kv-panel-pager .pagination > li > a, .kv-panel-pager .pagination > li > span{
        padding: 5px 7px;
    }

    .address-one .icons-div{
        justify-content: flex-start;
    }
    .cabinet-form  table .dropdown-menu{
        left: 0;
        transform: translateX(0%);
    }
    .pwrap{
        margin-top: 0px;
    }
    div.card{
        width: 100%;
    }

    .form-group label {
        width: 100%;
    }
    .form-group input,
    .input-group,
    .form-group select,
    .form-group textarea{
        width: 100%;
        margin-left: 0%;

    }
    .help-block{
        margin-left: 0;
    }


    .filter-pp .dates-from-to{
        padding-left: 0;
    }
    #submit-count-search-form{
        align-self: center;
    }
    .filter-apply-block{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .filter-pp .publish-address{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .clear-filter{
        margin-left: 0;
    }
    .pagination-arrow{
        width: auto;
        border-radius: 0;
        padding: 3px;
        height: auto;
        /*background-color: ;*/
    }
    .pagination-arrow img{
        width: 5px;
    }
    .pag-move-left{
        margin-left: 10px;
    }
    .pag-move-right{
        margin-right: 10px;
    }
    .pag-number{
        margin: 0 5px;
    }
    .first-news-block, .second-news-block, .third-news-block{
        position: relative;
        box-shadow: 0px 0px 37px 0px rgba(201,201,201,0.48);
    }

    .first-news-block{
        z-index: 3;

    }
    .second-news-block{
        z-index: 2;
    }
    .third-news-block{
        z-index: 1;
    }

    .first-news-block:hover{
        z-index: 3;
    }
    .second-news-block:hover{
        z-index: 3;
    }
    .third-news-block:hover{
        z-index: 1;
    }

    .add-address-submit.flex{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .question-answers{
        padding-left: 0;
    }
    .add-address-submit .more-add-address{
        margin-left: 0;
    }

    #form-signup .reg-tutorial .flex{
        display: flex;
        justify-content: center;
    }
    .switch-left{
        padding-left: 1px;
        padding-right: 1px;

    }
    .switch-right{
        padding-left: 1px;
        padding-right: 1px;
    }
    .cab-menu.row, .cab-menu .row, .cab-menu.col-md-12{
        margin: 0;
        padding: 0;
    }
    .rel-menu .cab-menu-block{
        padding-left: 0;
    }
    .button-mobile{
        text-align: center;
    }
    .order-button-back, .order-button{
        /*margin: 2%;
        padding: 10px;*/
        min-width: 100px;
    }
    #form-order .field-row .form-input{
       padding-left: 20px;
    }
    .order-logo .popup-page{
        margin-top: 20px;
        /*margin-left: 0;*/
        text-align: center;
    }
    .order-master-padding{
        padding-left: 0;
    }
    .order-address-popup .field-row{
        display: flex;
    }
    .order-page-two .order-button{

        margin-left: 0;
    }
    .page-rule .flex{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .order-page-two .order-button-back{
       /*margin-bottom: 20px;*/

    }
    .page-rule .order-button{
        margin-left: 0;
    }
    .stat-head{
        margin-left: 0px;
    }
    .flex.service-submit{
        display: flex;
        margin-top: 40px;
    }

    .order-flex{
        flex-direction: column;
    }
    .order-flex-left, order-flex-right{
        flex-basis: 100%;
    }
    #reg .reg-logo, #login .login-logo, #restore-pwd .restore-logo, #change-password .change-logo, .order-address-popup .order-logo{
        margin-top: 10px;
    }
    .image-to-change{
        height: 200px;
        max-height: none;
    }



    .address-publish-card.documentsaddress .field-row{
        display: flex;
        flex-wrap: wrap;
        margin: 20px 0;
    }
    .address-publish-card.documentsaddress .form-label{
        display: flex;
        flex-basis: 100%;
    }
    .address-publish-card.documentsaddress .icon-row .form-label{
        flex-basis: auto;
        margin-right: 10px;
    }
    .address-publish-card.documentsaddress .form-input{
        display: flex;
        flex-basis: 100%;
    }
    .address-publish-card.documentsaddress .has-icon.form-input{
        flex-basis: 90%;
        margin-left: 3%;
    }
    .address-publish-card.documentsaddress .form-input input{
        flex-basis: 70%;
    }
    #map{
        margin-top: 50px;
    }
    .address-publish-card .reg-button{
        margin: auto;
    }
    .profile-menu-closer{
        margin: 20px 0;
    }

    .rel-menu{
        margin: 0 -30px;
        position: relative;
    }
    .rel-menu .cab-menu-block{
        padding-left: 0px;
    }
    .cab-menu{
        width:100%;
        z-index: 11111;
        transform: translateX(-50%);
        left: 50%;
        display: none;
        position: absolute;
        background-color: #E5E6E8;
        box-shadow: 0px 3px 12px -5px rgba(158,158,158,1);

    }
    .mobile-cab-menu{
        display: block;
        color: #FF4D48;
        text-align: center;
    }
    .soc-block{
        float: left;
    }


    .art-block{
        margin-bottom: 20px;
    }
    .statistics .dates-from-to .field-row .form-label.period{
        margin-left: 0;
        width: auto;
    }
    .statistics .dates-from-to{
        align-items: initial;
        align-content: space-between;
        justify-content: space-between;
    }
    .statistics .field-row.flex{
        display: flex;
        justify-content: space-between;
    }
    .by-time-filter{
        justify-content: center;
    }
    .statistics .notiications-button{
        margin: 20px auto;
    }
    #notification-email .form-input{
        margin-left: 0;
    }
    .notiications-button{
        margin: 20px 0;
    }
    .delivery-form-submit{
        flex-direction: column;
    }
    .count-search-subdata, .dates-from-to{
        margin-top: 20px;
        flex-direction: column;
    }
    .dates-from-to .from-date-cnt{
        margin-right: 0;
    }
    .field-row.count-search-subdata-select{
        margin-left: 0;
    }
    .cab-widget, .cab-widget-head{
        width: auto;
    }
    .cab-widget .row{
        margin: 0;
    }

    .cab-menu-block{

        padding-left: 0;
    }
    .reg-tutorial .put-to-right{
        display: flex;
        justify-content: center;
        text-align: left;
    }
    .cab-menu-item{
        text-align: center;
    }
    #choose-your-status{
        /*margin: 20px auto;
        display: block;*/
        width: 200px;
    }
    .page-info{
        margin: 20px 0;
    }
    .header-padding-left, .login-tutorial{
        padding-left: 0;
        text-align: center;
    }
    .form-label label{
        display: flex;
    }
    .reg-button{
        margin-left: 0;
    }
    .reg-tutorial{
        margin: 20px 0;
        padding-left: 15px;
    }
    .field-row .form-input{
        margin-left: 0;
    }
    .login-button, .change-button{
        margin-left: 0;
    }
    .address-extra-content{
        flex-basis: 84%;
    }
    .service-price, .service-name, .pi-number, .clean{
        flex-basis: 42%;
    }
    .address-owner-info .icon{
        flex-basis: 16%;
        justify-content: flex-start;
    }
    .extra-service-margin{
        margin-left: 16%;
    }
   /* .flex-all{
        width: 100%;
    }*/

    .service-price, .month-price6, .month-price11, .ser-price{

    }
    .centralize-mobile{
        display: flex;
        justify-content: center;
    }
    .order-address{
        /*margin: 15px 0;*/
        margin-top: 15px;
    }
    .pizza{
        margin: 10px 0;
    }
    .no-padding-d{
        padding: 0 15px;
    }
    .address-text-subway{
        margin-left: 0;
    }
    .address-owner-info{
        display: flex;
    }
    .address-detail-head{
        margin: 10px 0;
    }
    .service-price, .service-name{
        margin-bottom: 20px;
    }
    .slide-item{
        height: auto;
    }
    .menu-block{
        padding-bottom: 20px;
    }
    .address-order a{
        padding: 15px 20px;
    }
    .breadcrumb{
        display: none;
    }
    /*.pag-page{
        width: 35px;
        height: 35px;
    }*/
    .header-label{
        text-align: center;
    }
    .promo-text-block{
        margin-bottom: 20px;
    }
    .widget-filter, .search-closer{
        /*background-image: none;
        background-color: #D9DCDE;*/
    }
    .mobile-cabinet-button{
        display: flex;
        justify-content: center;
    }
    .container-to-insert{
        position: relative;
    }
    .search-closer{
        padding: 10px;
    }
    .tax-block .radio-box{
        flex-basis: auto;
    }
    .tax-block{
        justify-content: center;
    }
    .filter-by{
        text-align: center;
    }
    .widget-form-container .row{
        margin: 0;
    }
    .district-block{
        width: 80%;
        margin: auto;
    }
    .district-block, .tax-block{
        padding-right: 0;
    }
    .all-addresses-block{
        padding-right: 15px;
    }
    .left-padding{
        padding-left: 15px !important;
    }
    .fselect{
        padding-right: 0;
    }
    .mobile-address-search{
        display: flex;
    }
    .widget-filter{
        min-height: auto;
    }


    /*header*/

    .main-menu{
        display: none;
    }
    .mobile-navigation-menu .main-menu{
        display: block;
    }
    .main-menu.active{
        display: block;
    }
    .upper-menu-part {
        padding-top: 20px;
    }
    .mobile-header .person{
        text-align: right;
    }
    .mobile-top-menu{
        display: flex;
        justify-content: space-between;
    }
    /*.burger-menu{
        position: absolute;
        left: 20px;
        top: 10px;
        z-index: 1;
    }*/
    .mobile-top-menu .phone-email{
        display: flex;
        flex-direction: column;
        font-size: 12px;
        justify-content: center;
        align-items: center;
        padding-left: 0;
    }
    .mobile-top-menu .phone-email .email{
        margin-left: 0;
    }
    .mobile-logotype .header-padding-left{
        margin-top: 20px;
        text-align: center;
        padding-left: 0;
    }
    .mobile-navigation-menu{
        width: 100%;
        background-color: #fff;
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        min-height: 90vh;
    }
    .close-menu{
        position: absolute;
        top:20px;
        left: 30px;
    }
    .mobile-navigation-menu .main-menu{
        margin-top: 50px;
        text-align: center;
    }
    .address-search{
        background-image: none;
    }
    .switch-mode, .switch-right{
        margin-top: -3px;
    }
    .mobile-address-wrapper{
        position: relative;
        z-index: 11;
    }
    .address-li{
        text-align: center;
    }
    .pick-address{
        margin-top: 20px;
        text-align: center;
    }
    .publish-address{
        margin: 20px 0;
        display: flex;
        justify-content: center;
    }
    .public-address{
        margin-right: 0;
    }
    /** header */
    /* footer */
    .footer-logo{
        font-size: 12px;
        text-align: center;
    }
    .mobile-footer-soc .soc{

    }
    .address-mobile{
        text-align: left;
    }
    .mobile-logo-cnt{
        display: flex;
        justify-content: space-between;
    }
    .footer-menu-block{
        margin-top: 20px;
        padding-left: 30px;
    }
    .mobile-confidential{
        margin: 20px 0px;

    }
    .cnf-container{
        margin-top: 30px;
    }
    .cnf{
        padding-right: 0;
        text-align: right;
        padding-left: 15px;
    }
    .footer-logo .website{
        font-size: 12px;
    }
    .cnf .footer-logo{

    }

    /** footer */
    .navbar-header button span{
        background-color: #F93237;
    }
    /*.upper-menu-part{
        display: flex;
    }*/
    /*mobile slide*/
    .review-content-flex{
        margin-top: 0;
    }
    .review-block .bx-controls{
        display: none;
    }
    .slider-block{
        width: 100%;
        margin: 0 auto;
    }
    .slider-right-part{
        padding-left: 15px;

        background-color: transparent;
        margin-left: 0px;
    }
    .slide-left-part{
        margin-right: 0px;
        background-color: transparent;
        padding-right: 15px;
        border-radius: 0;
    }
    .review-counter{
        padding: 0 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .review-author{
        text-align: left;
        border-radius: 0;
        background-color: #fff;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    .faq{
        border-radius: 5px;
    }
    .main-news-container .block-title{
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
    .news-mobile, .news-mobile .news{
        display: flex;
        flex-wrap: wrap;
    }

    .news-mobile .news-date{
        flex-basis: 30%;
    }
    .news-mobile .news-title{
        font-size: 1em;
        margin-top: 0;
        margin-bottom: 20px;
        flex-basis: 70%;
    }
    .slider-block{
        padding: 0;
    }
    .second-news-block{
        margin-right: 0px;
        margin-left: 0px;
    }
    .news-mobile .news-preview{
        text-align: left;
        flex-basis: 70%;
        margin-left: 30%;
    }
    .first-news-block{
        padding-left: 0;
    }
    .article-mobile-block{
        margin-bottom: 20px;
    }
    /*.close-question{
        display: none;
    }*/
    .faq-fluid .block-title{
        text-align: center;
        margin-bottom: 20px;
        width: 100%;
    }
    .review-content{
        width: 100%;
        padding-left: 15px;
    }
    .review-content-flex{
        border-radius: 0;
        background-color: #fff;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .review-counter .slider-hr{
        width: 40%;
        flex-basis: 40%;
    }
    .review-counter .slider-hr div.hr-self{
        height: 1px;
        background-color: #E9ECEC;

    }
    .review-author .author-name, .review-author .author-role{
        padding-left: 15px;
    }
    .slide-2-right, .slide-2-left{
        cursor: pointer;
    }
    /*Mobile tabs*/
    .other-mobile-container, .subway-mobile-container, .tax-mobile-container, .district-mobile-container{
        display: block;
    }
    .search-way.other, .search-way.district, .search-way.tax, .search-way.subway{
        display: none;
       /* height: 0;*/
    }
    .other-mobile-container, .subway-mobile-container, .tax-mobile-container, .district-mobile-container .search-way.district{
       width: 100%;
    }

    .reviews{
        position: static;
    }
    .year{
        margin-right: 20px;
    }
    .flex, .faq{
        display: block;
    }
    .block-faq{
        margin-left: 0;
    }
    .question-container{
        padding-left: 0;
    }
    /*.slider-block{
        width: 80%;
        margin: 0 auto;
    }*/
    .narrow{
        padding-left: 0px;
        padding-right: 0px;
    }
    .flex-row, .review-author{
        display: block;

    }
   /* .review-author{
        text-align: center;
    }*/
    .counter{
        height: 45px;
        margin: 0;
        position: static;
        display: inline-block;
        transform: translate(0);
    }
    .review-counter{
        text-align: center;
       /* display: block;*/
        margin-top: 40px;
    }

    .first-news-block, .second-news-block, .third-news-block {
        width: 100%;
    }
}

@media screen and (max-width: 480px){
    .kv-table-wrap th, .kv-table-wrap td {
         display: table-cell;
         width: auto !important;
        text-align: center;
        font-size: 1.2em;
    }
}
.fade-scale {
    transform: scale(0);
    opacity: 0;
    -webkit-transition: all .25s linear;
    -o-transition: all .25s linear;
    transition: all .25s linear;
}

.fade-scale.in {
    opacity: 1;
    transform: scale(1);
}

input[required]::after {
    color: #e32 !important;
    content: ' *' !important;
    display:inline !important;
}

.redstar::after {
    color: #e32 !important;
    content: ' *' !important;
    display:inline !important;
}


.visit_photo_calendar .table td .past_date {
    background-color: #dadada9c !important;
}

.blocked.bg-danger{
    background-color: #f93237;
}

.visit_photo_calendar .disabled-date{
    visibility: hidden;
}

.visit_photo_calendar tbody tr td {
    min-width: 150px;
}

.visit_photo_calendar tbody tr td label  {
    width: 130px;
    height: 35px;
    line-height: 22px;
}

.kv-grid-container tbody tr td a{
    color: #f93237;
}


.grid-view .summary{
    margin-bottom: 10px;
}
.username-field a, .calendar-dates{
    color: #f93237;

}
.b-link a{
    color: #33424D;
    font-family: solomon-normal;
    padding-left: 0px;
}
.nop-left .breadcrumb{
    padding-left: 0;
}
.calendar-div label{
    display: flex;
}
.calendar-dates{
    margin-bottom: 10px;
    font-weight: bold;
}

.stop-order tr:nth-child(even) {
    background: transparent;
}
.filter-head{
    border: none;
    padding: 20px;
    background-color: #4B555E;
    display: flex;
    align-items: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.filter-w{

    text-align: center;
    flex-basis: 50%;
    font-size: 20px;
    color: #fff;
}
.filter-pp-area .price-filter-row{
    background-color: #fff;
    overflow: hidden;
    border-radius: 5px;
}
.filter-pp-area .price-filter-row input, .filter-pp-area .price-filter-row select{
    background-color: #EBEDEC;
}
.filter-rulez{
    color: #F93237;
}
.r-ast{
    font-size: 20px;
}


.alarm  {
	width: 100%;
	border: 1px solid #FF5555;	
	padding: 20px;
	background: #FFDDDD;
	color: red;	
	text-align: center;
	border-radius: 3px;
}

.alarm  .caption{
	font-size: 12pt;
	font-weight: bold;
	margin-bottom: 20px;
}

.address-published {
	font-weight: bold;
}

.address-normal {
	opacity: 1;
}

/*
@keyframes anim {
    from {filter: grayscale(0);}
    to {filter: grayscale(100%);}
}*/
.cb_container{
    float:left;
}
.cb_container > div{
    max-width: 20% !important;
    margin-bottom: 1rem;
}
.cb_container-wide > div{
    max-width: 13% !important;
    margin-bottom: 1rem;
}
.field-address-tax_agencies label{
    width: 100% !important;
}
.select_all, .unselect_all{
    text-decoration: underline;
    cursor: pointer;
}
.select_all:active, .unselect_all:active{
    color: #268b17;
}
.span-hint{
    position: relative;
    top: -1rem;
    color: #a1a1a0;
    font-size: 12px;
}
.kpp_error, .loc_error{
    color: #ff0000;
}

.submit_btn-disabled{
    background-color: #9a9995;
}
.order-view .labels{
    font-size: 1.5em;
    color: #484748;
}

.order-view .order-value{
    font-size: 1em;
}

.payment-tooltip{
    position: relative;
    top: -3rem;
}
.field-order-add_guarantee  label, #order-serviceidlist label{
    width: 50% !important;
}
.field-order-add_guarantee  label p:not(:first-of-type),#order-serviceidlist label p:not(:first-of-type){
    padding-left: 35px;
    font-size: .9em;
}
p.service-descr{
    margin-bottom: .1rem;
}
p.service-descr:last-of-type{
    margin-bottom: 1rem;
}
p.service-title{
    margin-bottom: .25rem;
}
.field-order-add_guarantee .checkbox, .field-order-tax_system_vat .checkbox{
    margin: 0;
}
.field-order-add_guarantee .help-block, .field-order-tax_system_vat .help-block{
    display: none !important;
}
.field-order-serviceidlist .control-label{
    margin: 0;
}
.field-order-add_guarantee.form-group, .field-order-serviceidlist.form-group{
    margin: 0;
}
.img_sample{
    max-width: 100%;
    max-height: 200px;
    margin: 0 auto;
    display: block;
}